/*
 * Syntax highlighting
 * Colors based on Base16 Ocean Dark
 */

body:not(.mobile) ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

body:not(.mobile) ::-webkit-scrollbar-track {
  background-color: #2B303B;
  box-shadow: inset 1px 0 0 0 rgba(0,0,0,0.2);
}

body:not(.mobile) ::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.2);
}

body:not(.mobile) ::-webkit-scrollbar-corner {
  background-color: #2B303B;
  box-shadow: inset -15px -15px 0 0 #2B303B,
              inset 1px 1px 0 0 rgba(0,0,0,0.2);
}

body:not(.mobile) ::-webkit-scrollbar-thumb {
  border: 10px solid transparent;
  border-radius: 50px;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  min-height: 50px;
  min-width: 50px;
  background-color: #5f6368;
}

body:not(.mobile) ::-webkit-scrollbar-thumb:hover {
  background-color: #777c83;
}

body:not(.mobile) ::-webkit-scrollbar-thumb:active {
  background-color: #5f6368;
}


.cd-wrapper .menu.autocomplete {
  position: fixed;
  top: 0;
  left: 0;
  background: hsl(218deg 23% 35%);
  box-shadow: 0 8px 16px rgb(0 0 0 / 24%);
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
  color: #a6c3d4;
  padding: 6px;
  scroll-padding: 6px;
  left: 121.984375px;
  top: 12.5px;
  border-radius: 5px;
  font-weight: 500;
  max-width: 190px;
  max-height: calc(30px * 3 + 4px + 17px);
  /* max-width: 290px; */
  /* max-height: 113px; */
  min-width: 85px;
  overflow-y: overlay;
  margin-top: 20px;
  border-top-left-radius: 0;
  font-family: 'Mono Sans', 'Roboto Mono', consolas, lucida console, courier new, monospace;
  line-height: 1.5;
  display: none;
}

.cd-wrapper .menu.visible {
  display: block;
}

.cd-wrapper .menu .icon {
  padding: 3px 6px;
  border-radius: 2.5px;
  cursor: pointer;
  overflow-x: overlay;
  position: relative;
  white-space: nowrap;
  /* -webkit-mask-image: linear-gradient(90deg, transparent 0px, black 6px, black calc(100% - 6px), transparent 100%); */
}

.cd-wrapper .menu .icon:hover {
  background: hsl(218deg 27% 50% / 32%);
}

.cd-wrapper .menu .icon:active {
  background: hsl(218deg 27% 53% / 72%) !important;
}

.cd-wrapper .menu .icon.active {
  color: #f9f9f9;
  background: hsl(218deg 27% 50%);
}

.cd-wrapper .menu .icon.active:hover {
  background: hsl(218deg 27% 53%);
}

.cd-wrapper .menu::-webkit-scrollbar {
  width: 0;
}

.cd-wrapper .menu .icon::-webkit-scrollbar {
  height: 10px;
}

.cd-wrapper .menu .icon::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

.cd-wrapper .menu .icon::-webkit-scrollbar-thumb {
  background-color: rgb(249 249 249 / 15%);
  border-right-width: 6px;
  border-left-width: 6px;
}

.cd-wrapper .menu .icon::-webkit-scrollbar-thumb:hover {
  background-color: rgb(249 249 249 / 27%);
}

.cd-wrapper .menu .icon::-webkit-scrollbar-thumb:active {
  background-color: rgb(249 249 249 / 17%);
}


cd-el {
  background: #313744;
  color: #a6c3d4;
  caret-color: #fff;

  font-family: 'Mono Sans', 'Roboto Mono', consolas, lucida console, courier new, monospace;

  font-size: 14px;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  border-radius: 0;
  display: block;
}

.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(218deg 7% 64% / 72%);
}

.token.punctuation,
.token.interpolation,
.token.important,
.token.atrule,
.token.url .token.content,
.token.url-reference .token.variable {
  color: #a6c3d4;
}

.token.doctype .token.punctuation {
  color: inherit;
}

.token.namespace {
  opacity: 1;
}

.token.property,
.language-css .token.variable {
  color: #35d4c7;
}

.token.boolean,
.token.number,
.token.unit,
.token.constant,
.token.symbol,
.token.deleted,
.language-css .token.string {
  color: #e5b09f;
}

.token.char,
.token.url,
.token.builtin,
.token.inserted,
.token.template-string,
.token.regex,
.token.string-property,
.token.variable {
  color: #c1ffd5cc;
}

.token.operator,
.token.entity,
.token.atrule .token.rule,
.language-css .token.function,
.token.interpolation .token.punctuation {
  color: hsl(286deg 60% 72% / 93%);
  color: #ce8de2;
}

.token.attr-name,
.token.keyword {
  color: #e49199;
}

.token.function,
.token.class-name,
.token.tag,
.token.selector {
  color: #75bfff;
}

.token.comment,
.token.comment * {
  color: hsl(218deg 7% 64% / 72%) !important;
}

.token.string,
.token.string *,
.token.attr-value,
.token.attr-value *:not(.attr-equals),
.style .token.string {
  color: #c1ffd5cc !important;
}

.token.italic {
  font-style: normal;
}

.token.entity {
  cursor: unset;
}

.token.url-link,
.token.email-link,
.token.md-link {
  color: inherit;
  caret-color: #fff;
  text-decoration: underline;
}


.token.brace.brace-active {
  position: relative;
  background: rgb(166 195 212 / 12%);
  border-radius: 2.5px 2.5px 0 0;
  box-shadow: 0 1px 0 0 rgb(166 195 212 / 12%);
}

.token.brace.brace-active::before,
.token.brace.brace-active::after {
  content: '';
  bottom: -2.5px;
  left: 0;
  width: 50%;
  height: 2px;
  background: #a6c3d4;
  position: absolute;
  transform: rotateZ(25deg);
  transform-origin: bottom;
  pointer-events: none;
}

.token.brace.brace-active::after {
  left: 50%;
  transform: rotateZ(-25deg);
}


.line-numbers {
  position: relative;
  padding-left: calc(var(--gutter-length) + env(safe-area-inset-left));
  --gutter-length: calc(1.2em + 30px + env(safe-area-inset-left));
}

.line-numbers .line-numbers-rows {
  position: sticky;
  cursor: default;
  left: 0;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  line-height: inherit;
  font-size: inherit;
  color: #636d83;
  background: #313744;
  display: block;
  text-align: right;
  min-width: 1.2em;
  white-space: pre;
  float: left;
  z-index: 1;
  margin-right: -100%;
  transform: translateX(-100%);
  padding-left: calc(13.5px + 0.2px + env(safe-area-inset-left));
  padding-right: 13.5px;
}

.line-numbers .line-numbers-rows::before {
  content: attr(line-numbers);
}


span.inline-color-wrapper {
  /*
   * The background image is the following SVG inline in base 64:
   *
   * <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2">
   *   <path fill="#fff" d="M0 0h2v2H0z"/>
   *   <path fill="#ccc" d="M0 0h1v1H0zM1 1h1v1H1z"/>
   * </svg>
   *
   * SVG-inlining explained:
   * https://stackoverflow.com/a/21626701/7595472
   */
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyIDIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDBoMnYySDB6Ii8+PHBhdGggZmlsbD0iI2NjYyIgZD0iTTAgMGgxdjFIMHpNMSAxaDF2MUgxeiIvPjwvc3ZnPg==);

  height: 12px;
  width: 12px;
  margin-left: 2px;
  margin-right: 4px;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  line-height: 10px;
  border-radius: 50%;
  cursor: pointer;

  transition: 0.3s cubic-bezier(0, 0.88, 0.46, 1.36);
  transition: 0.6s cubic-bezier(.165,.84,.44,1);
  transition: .4s cubic-bezier(.68,-.55,.265,1.55);
  transition: .4s cubic-bezier(0.19,1,0.22,1);
  transition: .5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: .3s cubic-bezier(.175,.885,.32,1.275);
  transition: .3s cubic-bezier(.075,.82,.165,1);
  transition: 167ms cubic-bezier(0,0,.2,1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.25, 1);
}

body.platform-mac span.inline-color-wrapper {
  cursor: default;
}

span.inline-color {
  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
}

span.inline-color::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 0 0 1px hsl(221deg 9% 50%), inset 0 0 0 1px #313744;
  left: 0;
  top: 0;
  border-radius: 50%;
}

span.inline-color-wrapper:hover span.inline-color::after {
  box-shadow: 0 0 0 1px hsl(221deg 12% 67%), inset 0 0 0 1px #313744;
}
