/* 
 * Syntax highlighting 
 * Colors based on Base16 Ocean Dark
 */

@import url('/fonts/fonts.css');

@media only screen and (min-width: 760px), (max-device-width: 768px) and (min-device-width: 1024px) {
  
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
    background-color: #2B303B;
    box-shadow: inset 1px 0 0 0 rgba(0,0,0,0.2);
  }

  ::-webkit-scrollbar:hover, ::-webkit-scrollbar-corner:hover, ::-webkit-scrollbar-track:hover {
    width: auto;
  }
  
  ::-webkit-scrollbar-thumb {
    border: 10px solid transparent;
    border-radius: 50px;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    min-height: 50px;
    background-color: #5f6368;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #777c83;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #5f6368;
  }
  
}

cd-el {
  background: #313744;
  color: #a6c3d4;
  
  font-family: 'Google Sans Mono', 'SF Mono', 'Source Code Pro', monospace;
  
  font-size: 14px;
  line-height: 1.5;
  
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
}

cd-el {
  caret-color: #fff;
}

cd-el::selection, cd-el *::selection {
  background: #505560;
}


.hljs-key, .hljs-attribute, .hljs-literal, .hljs-bullet, .hljs-symbol  {
  color: #c7ccd4;
}

.hljs-tag, .hljs-name, .hljs-section {
  color: #76c0ff;
}

.hljs-attr, .hljs-emphasis, .hljs-quote, .hljs-strong, .hljs-template-variable, .hljs-variable {
  color: #cd7e86;
}

.hljs-params, .hljs-title {
  color: #69aee9;
}




.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #9da5b4;
}

.token.punctuation {
  color: inherit;
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #e5b09f;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.template-string {
  color: #c1ffd5cc;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.interpolation .token.punctuation {
  color: #ce8be2f7;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #e49199;
}

.token.function,
.token.class-name {
  color: #74b4ec;
}

.token.regex,
.token.important,
.token.variable {
  color: #c1ffd5cc;
}

.token.interpolation {
  color: #a6c3d4;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

