
html, body {
  background: #313744;
  color: #d4d5d7;
  caret-color: #fff;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', system-ui, sans-serif;
}

.focus::before {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 2px rgb(104 187 228 / 50%);
  pointer-events: none;
  z-index: 1000;
  content: '';
}

::selection {
  background: rgba(255, 255, 255, 0.15);
}

.cd-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: .4s var(--cubic-function);
  transition-property: width, transform;
  will-change: transform;
  overflow: hidden;
}

body.expanded .cd-wrapper {
  width: calc(100% - var(--sidebar-width));
  transform: translateX(var(--sidebar-width));
}

body.notransition .cd-wrapper {
  transition: none;
}

body cd-el {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding: 10.5px 13.5px;
  left: 0;
  font-size: 14px;
  font-size: inherit;
  position: relative;
  box-sizing: border-box;
  white-space: pre;
  word-wrap: normal;
  padding-bottom: calc(41px + 10.5px);
  scroll-padding-bottom: calc(41px + 10.5px);
}

.bottom-wrapper {
  position: fixed;
  bottom: env(safe-area-inset-bottom, 0px);
  left: 0;
  right: 0;
  height: calc(45px + 56px + 45px);
  display: none;
  justify-content: center;
  transition: .4s var(--cubic-function);
  transition-property: transform, height, background;
  transform: none;
  will-change: transform;
  z-index: 1001;
}

body.notransition .bottom-wrapper {
  transition: none;
}

.bottom-wrapper.hidden {
  transform: translateY(calc(100% + env(safe-area-inset-bottom, 0px)));
}

.bottom-wrapper.expanded {
  transform: translateY(calc(-100vh + 100% - env(safe-area-inset-top, 0px)));
  height: 44px;
}

.bottom-wrapper.expanded.fromtop {
  top: env(safe-area-inset-top, 0px);
  bottom: auto;
  transform: none;
  transition: none;
}

.bottom-wrapper.expanded.fromtop * {
  transition: none !important;
}

.bottom-wrapper.notransition, .bottom-wrapper.notransition * {
  transition: none !important;
}

.bottom-float {
  position: relative;
  margin: 45px 0;
  width: calc(100% - 45px - env(safe-area-inset-left));
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background: #1a1c24;
  color: #d4d5d7;
  box-shadow: 0 1px 2px rgb(0 0 0 / 17%), 0 6px 8px rgb(0 0 0 / 29%);
  height: 56px;
  transition: .4s var(--cubic-function);
}

.bottom-wrapper.expanded .bottom-float {
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  box-shadow: 0 0 0 rgb(0 0 0 / 17%), 0 0 0 rgb(0 0 0 / 29%), inset 0 -1px 0 0 rgb(255 255 255 / 16%);
  margin: 0;
  height: 44px;
  pointer-events: none;
}

.bottom-float .menu-item {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  transition: .4s var(--cubic-function), 0s background;
}

.bottom-float .sidebar-open {
  flex: 1;
  border-radius: 20px;
}

.bottom-float.modified .sidebar-open {
  border-radius: 20px 0 0 20px;
}

.bottom-wrapper.expanded .bottom-float .sidebar-open {
  padding: 11px 16px;
}

.bottom-float .sidebar-open:active {
  background: hsl(228deg 16% 10%);
}

.bottom-wrapper .bottom-float .menu {
  transition: .4s var(--cubic-function);
  transition-property: opacity, margin-left;
}

.bottom-wrapper.expanded .bottom-float .menu {
  opacity: 0;
  margin-left: -24px;
}

.bottom-float .logo {
  margin-left: 10px;
  max-width: calc(100vw - 184px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  transition: .4s var(--cubic-function);
}

.bottom-wrapper.expanded .bottom-float .logo {
  margin-left: calc(50vw - 16px);
  transform: translateX(-50%);
}

.bottom-float .badge {
  position: absolute;
  bottom: 16px;
  left: 35px;
  width: 8px;
  height: 8px;
  background: var(--rosemary-lighter);
  border-radius: 50%;
  box-shadow: 0 0 0 2px #191d25;
  display: none;
  transition: .4s var(--cubic-function);
  transition-property: opacity, bottom, left;
}

.bottom-float.modified .badge {
  display: block;
}

.bottom-wrapper.expanded .bottom-float .badge {
  opacity: 0;
  left: 7px;
  bottom: 10px;
}

.bottom-float .menu-buttons {
  display: flex;
  height: 100%;
}

.bottom-float .live-open {
  background: hsl(0deg 0% 100% / 3%);
  color: rgba(241,241,242,0.8);
  width: 65px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.bottom-wrapper.expanded .bottom-float .live-open {
  width: 0;
  opacity: 0;
}

.bottom-float .push-wrapper {
  background: hsl(0deg 0% 100% / 5%);
  border-left: 1px solid hsl(0deg 0% 100% / 3%);
  border-radius: 0 20px 20px 0;
  width: 65px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: none;
}

.bottom-float.modified .push-wrapper,
.bottom-float .push-wrapper.checked {
  display: flex;
}

.bottom-wrapper.expanded .bottom-float .push-wrapper {
  padding: 0;
  width: calc(65px - 24px);
  opacity: 0;
  border-radius: 0;
  margin-right: -1px;
  border-color: transparent;
}

.bottom-float .push-wrapper:not(.checked):active {
  background: #2e3037;
  background: hsl(0deg 0% 100% / 7.5%);
}

.bottom-float .push-wrapper .push-svg {
  position: absolute;
  left: 11.5px;
  transition: .4s var(--cubic-function) left;
}

.bottom-wrapper.expanded .bottom-float .push-svg {
  left: 0;
}

.live-buttons {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(calc(45px + 11.5px));
  will-change: transform;
  height: 44px;
  padding: 0 24px;
  opacity: 0;
  pointer-events: none;
  transition: .4s var(--cubic-function) transform, .4s var(--cubic-function) padding, .18s var(--ease-function) opacity;
}

.live-buttons .live-button {
  color: #828689;
  padding: 7px;
  margin: -7px;
}

.live-buttons .live-button:active {
  opacity: .5;
}

.live-buttons .live-button path {
  pointer-events: none;
}

.live-buttons .live-button.share path.ios {
  opacity: 0;
}

body.safari .live-buttons .live-button.share path {
  opacity: 0;
}

body.safari .live-buttons .live-button.share path.ios {
  opacity: 1;
}

.bottom-wrapper.expanded .live-buttons {
  opacity: 1;
  pointer-events: auto;
  transition: .4s var(--cubic-function) transform, .4s var(--cubic-function) padding, .18s .14s var(--ease-function) opacity;
  transform: none;
  padding: 0 18px;
}

.live-view {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -1px;
  top: 44px;
  transform: translateY(calc(100% - 28px - 45px - env(safe-area-inset-bottom, 0px)));
  padding-bottom: env(safe-area-inset-bottom);
  background: #1a1c24;
  color: #d4d5d7;
  box-shadow: inset 1px 0 0 0 #ffffff3d;
  padding-left: 1px;
  pointer-events: none;
  box-sizing: border-box;
  will-change: transform;
  transition: none;
  opacity: 0;
  z-index: 1000;
}

body:not(.mobile) .live-view {
  top: 0;
  opacity: 1;
  transform: translateX(100%);
}

body.loaded .live-view {
  transition: .4s var(--cubic-function);
  transition-property: transform, opacity;
}

body.loaded:not(.mobile) .live-view {
  transition-property: transform;
}

.live-view.visible,
.bottom-wrapper.expanded + .live-view {
  opacity: 1;
  transform: none !important;
  pointer-events: auto;
}

.live-view.notransition,
.bottom-wrapper.notransition + .live-view {
  transition: none;
}

.live-view::before {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 1px;
  position: fixed;
  background: #1a1c24;
  transition: .18s var(--ease-function) opacity;
  z-index: 1;
}

.live-view::after {
  content: '';
  position: fixed;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  width: var(--spacing-7);
  height: var(--spacing-7);
  border-radius: 50%;
  background: #e06c75;
  background: hsl(240deg 87% 55%);
  animation: live-pulse 1s var(--cubic-function) infinite;
  box-shadow: 0 0 0 15px hsl(240deg 87% 55% / 0%);
  transition: .18s var(--ease-function) opacity;
  z-index: 1;
}

.live-view:not(.loaded).loading::after {
  opacity: 1;
}

.live-view.loaded::before,
.live-view.loaded::after {
  opacity: 0;
  pointer-events: none;
}

@keyframes live-pulse {
  from {
    box-shadow: 0 0 0 0 hsl(240deg 87% 55%);
  }
  to {
    box-shadow: 0 0 0 15px hsl(240deg 87% 55% / 0%);
  }
}

.live-view .live-frame {
  width: 100%;
  height: 100%;
  background: #fff;
}

.live-view .console {
  width: 100%;
  height: 100%;
  background: #1a1c24;
}

.bookmark {
  display: flex;
  position: fixed;
  bottom: 5px;
  left: 0;
  background: #1a1c24;
  color: #d4d5d7;
  border-radius: 0 500px 500px 0;
  padding: 7px 10px;
  border: 3px solid transparent;
  border-left-width: 1px;
  transition: .18s var(--ease-function);
  transition-property: left, box-shadow;
  z-index: 999;
}

.bookmark::after {
  content: '';
  position: absolute;
  left: 45px;
  bottom: 0;
  height: 100vh;
  width: 10px;
  cursor: default;
  z-index: -1;
}

.bookmark.visible {
  box-shadow: 1px 2px 6px 0px rgb(0 0 0 / 5%);
}

.bookmark.visible::after {
  pointer-events: none;
}

.bookmark:active {
  background: hsl(228deg 16% 10%);
}

body.scroll-enabled .bookmark {
  bottom: calc(16px + 5px);
}

.bookmark .buttons {
  display: flex;
  align-items: center;
  grid-gap: 15px;
  padding-left: 10px;
}

.bookmark svg {
  opacity: .72;
  padding: 10px;
  margin: -10px;
  display: block;
  transition: .18s var(--ease-function) opacity;
}

.sidebar-toggle {
  left: -50px;
  will-change: transform;
  transition: .18s var(--ease-function),
              .4s var(--cubic-function) transform,
              .4s var(--cubic-function) padding, 0s bottom;
}

.sidebar-toggle.visible {
  left: -1px;
}

body.expanded .sidebar-toggle {
  transform: translateX(calc(var(--sidebar-width) - 1px));
}

body.notransition :is(.sidebar-toggle, .sidebar-toggle *) {
  transition: none;
}

.sidebar-toggle svg path {
  transition: .4s var(--cubic-function);
}

.sidebar-toggle svg .left {
  opacity: 0;
}

body.expanded .sidebar-toggle svg .right {
  opacity: 0;
}

body.expanded .sidebar-toggle svg .left {
  opacity: 1;
}

.live-toggle {
  right: 0;
  left: auto;
  border-radius: 500px 0 0 500px;
  display: none;
  width: 48px;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: flex-end;
  transition-property: width, box-shadow;
  z-index: 1000;
}

.live-toggle.visible {
  display: flex;
}

.live-view.visible ~ .live-toggle {
  box-shadow: 2px 5px 6px 0px rgb(0 0 0 / 9%);
}

.live-view.visible ~ .live-toggle:hover {
  width: 136px;
  transition-delay: .22s;
}

.live-view.visible ~ .live-toggle:active {
  background: #1a1c24;
}

.live-view.visible ~ .live-toggle svg:hover {
  opacity: 1;
}

.live-view.visible ~ .live-toggle svg:active {
  opacity: .5;
  transition: none;
}

.live-toggle .arrow path {
  opacity: 0;
  transition: .4s var(--cubic-function);
}

.live-view.visible ~ .live-toggle .arrow .right {
  opacity: 1;
}

.live-view:not(.visible) ~ .live-toggle .arrow .left {
  opacity: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: calc((var(--sidebar-width) + 1px) * -1);
  height: 100%;
  background: #1a1c24;
  color: #d4d5d7;
  transition: .4s var(--cubic-function) transform;
  width: calc(var(--sidebar-width) + 1px);
  transform: none;
  overflow-x: hidden;
  overflow-y: overlay;
  pointer-events: none;
  box-shadow: inset -1px 0 0 0 #ffffff3d;
  padding-left: env(safe-area-inset-left);
  padding-right: 1px;
  box-sizing: border-box;
  will-change: transform;
  z-index: 998;
}

/*
.sidebar::after {
  content: '';
  position: absolute;
  top: 0;
  right: -7px;
  width: 10px;
  height: 100%;
  background: #00000033;
  filter: blur(9px);
  z-index: 100;
}
*/

body.expanded .sidebar {
  transform: translateX(calc(100% - 1px));  
  pointer-events: auto;
}

body.mobile.expanded .sidebar {
  transform: translateX(100%);  
}

body.notransition .sidebar {
  transition: none;
}

.sidebar .wrapper {
  width: 100%;
  height: max-content;
}

.sidebar :is(.content-wrapper, .learn-wrapper) {
  display: none;
}

.sidebar:not(.intro, .learn) .content-wrapper {
  display: block;
}

.sidebar.intro .intro-wrapper {
  display: block;
}

.sidebar:not(.intro) .intro-wrapper {
  display: none;
}

.sidebar.learn .learn-wrapper {
  display: block;
}

.sidebar .loader {
  position: sticky;
  top: 0;
  left: 0;
  opacity: 0;
  height: 2px;
  margin-bottom: -2px;
  border-radius: 6px;
  pointer-events: none;
  background: #568af2;
  background: var(--rosemary-lighter);
  transition: width .4s ease, opacity .4s linear;
  z-index: 1000;
}

.sidebar .header {
  height: 59px;
  margin-bottom: 11px;
  padding-top: 15px;
  box-shadow: 0 1px 0 0 #f1f1f21c;
  background: #1a1c24;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sidebar :is(.titlescreen, .searchscreen) {
  display: flex;
  height: 59px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  padding-left: calc(env(titlebar-area-x, 0px) + 20px);
  box-sizing: border-box;
  position: absolute;
  transition: .18s var(--ease-function);
}

.sidebar .header.searching .titlescreen {
  opacity: 0;
  pointer-events: none;
}

.sidebar .header:not(.searching) .searchscreen {
  opacity: 0;
  pointer-events: none;
}

.sidebar .header .title {
  display: flex;
  align-items: center;
  position: relative;
  padding: 12px 0;
  padding-left: 18px;
  margin-left: -18px;
  flex: 1;
}

.sidebar .header .title:active {
  opacity: .5;
}

.sidebar .header .title:active:not(:hover) {
  transition: .18s var(--ease-function) opacity;
}

body:not(.mobile) .sidebar .header .title:hover {
  color: rgb(241,241,242);
}

.sidebar .searchscreen .title {
  cursor: unset;
}

.sidebar .header .roundbutton {
  color: #828689;
}

.sidebar .searchscreen .back {
  transition: .18s var(--ease-function) margin-right;
}

.sidebar .header.searching .searchscreen .back {
  margin-right: 0;
}

.sidebar .header .logo {
  padding: 7px 0;
  font-weight: 600;
  color: rgba(241,241,242,0.92);
  max-width: calc(var(--sidebar-width) - 140px);
  overflow-x: overlay;
  white-space: nowrap;
  transition: .18s var(--ease-function);
  transition-property: margin-left, max-width;
}

.sidebar .header.searching .logo {
  margin-left: var(--spacing-1);
  max-width: calc(var(--sidebar-width) - 140px - var(--spacing-1));
}

.sidebar .header .title::before,
.sidebar .header .title::after {
  content: '';
  position: absolute;
  right: -0.6px;
  right: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(270deg, #1a1c24, #1a1c2400);
  transition: .18s var(--ease-function) opacity;
  pointer-events: none;
  z-index: 1;
}

.sidebar .header .title::before {
  right: auto;
  background: linear-gradient(90deg, #1a1c24, #1a1c2400);
  transition: .18s var(--ease-function);
  left: 24px;
  opacity: 0;
}

.sidebar .header .title.scrolled-start::before {
  opacity: 1;
}

.sidebar .header .title.scrolled-end::after {
  opacity: 0;
}

.sidebar .header .title.notransition::before,
.sidebar .header .title.notransition::after {
  transition: none;
}

/*
.sidebar .header .title:hover .logo.overflow {
  background: hsl(218deg 18% 23%);
  padding: 9px;
  padding-left: 32px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 15%), 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  left: calc(44px - 26px);
  max-width: calc(235px + 26px);
  color: #fff;
  position: absolute;
  box-sizing: border-box;
}
*/

.sidebar .searchinput {
  width: calc(var(--sidebar-width) - 103px);
  white-space: nowrap;
  line-height: 20px;
  color: #d4d5d7;
  word-wrap: break-word;
  position: relative;
  height: 100%;
  outline: none;
  user-select: text;
  -webkit-user-select: text;
  overflow: hidden;
}

.sidebar .searchinput:empty::before {
  content: 'Search...';
  color: rgba(241,241,242,0.43);
  pointer-events: none;
}

.sidebar .header .clear {
  opacity: 0;
  pointer-events: none;
  transition: none;
}

.sidebar .header .clear.visible {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsl(228deg 16% 12%);
  padding: 15px 20px;
  position: relative;
  scroll-margin: 75px;
  transition: .18s var(--ease-function) margin;
}

.sidebar .item:last-of-type {
  margin-bottom: calc(10px + env(safe-area-inset-bottom));
}

.sidebar .item:hover, .sidebar .item.file:not(.focused):active {
  background: hsl(227deg 11% 16%);
}

.sidebar .item:active {
  background: hsl(226deg 7% 19%);
}

.sidebar .item.selected {
  background: hsl(226deg 7% 19%);
}

.sidebar .item.focused {
  cursor: unset !important;
}

.sidebar .item.hidden {
  margin-top: calc(-54px - 11px);
  margin-bottom: 11px;
}

.sidebar .item .label {
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .file.modified .label::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 8px;
  height: 8px;
  background: var(--rosemary-lighter);
  border-radius: 50%;
  box-shadow: 0 0 0 2px #191d24;
}

.sidebar .file:hover .label::before,
.sidebar .file:active .label::before {
  box-shadow: 0 0 0 2px hsl(227deg 11% 16%);
}

.sidebar .file.selected .label::before {
  box-shadow: 0 0 0 2px hsl(226deg 7% 19%);
}

.sidebar .item .icon {
  margin-right: var(--spacing-1);
  color: #828689;
}

.sidebar .item[exists="false"] .icon {
  color: hsl(206deg 3% 42%);
}

.sidebar .item .name {
  max-width: calc(var(--sidebar-width) - 51px - 20px - 24px - 20px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .item.focused .name {
  border-radius: 4px;
  padding: 4px;
  margin: -4px;
  outline: none;
  user-select: text;
  -webkit-user-select: text;
  background: hsl(220deg 86% 64% / 9%);
  box-shadow: 0 0 0 1.5px hsl(223deg 85% 66% / 70%), 0 0 0 4px hsl(223deg 86% 66% / 30%);
  transition: .18s .04s var(--ease-function);
  transition-property: background, box-shadow;
}

.sidebar .item.focused.hidden .name {
  background: transparent;
  box-shadow: 0 0 0 2px hsl(220deg 86% 64% / 0%);
}

.sidebar .item.focused .name:empty::before {
  content: 'untitled file';
  color: #828689;
  pointer-events: none;
}

.sidebar .item[exists="false"] .name {
  font-style: italic;
  color: grey;
}

.sidebar .item .push-wrapper {
  width: 53.5px;
  position: absolute;
  right: -1.5px;
  display: none;
}

.sidebar .item.modified .push-wrapper {
  display: flex;
}

.sidebar .item.focused .push-wrapper {
  display: flex;
}

.sidebar .item .push-wrapper.checked {
  display: flex;
}

.sidebar .item .push-wrapper .push-svg {
  border-radius: 50%;
}

.sidebar .item .push-wrapper:not(.checked):active .push-svg {
  background: rgba(0,0,0,.15) !important;
}

.sidebar .item .arrow {
  color: #828689;
}

.sidebar .more {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border-top: 1px solid #f1f1f21c;
  margin-top: 8px;
  height: 59px;
  box-sizing: border-box;
}

.sidebar .more:hover {
  background: hsl(227deg 11% 16%);
}

.sidebar .more .icon {
  margin-right: var(--spacing-1);
}

.sidebar .picture-wrapper {
  background: hsl(228deg 38% 21%);
  color: rgba(241,241,242,0.8);
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: var(--spacing-5);
  padding: var(--spacing-5);
  box-sizing: border-box;
}

.sidebar .intro {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  box-shadow: inset 0 -5px 0 0 hsl(223deg 28% 22%);
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

.sidebar .intro .picture {
  width: 100%;
  height: 100%;
}

.sidebar .intro .subhead {
  text-align: center;
}

.sidebar .intro .title {
  color: #f1f1f2e0;
  margin-bottom: var(--spacing-2);
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -.002em;
}

.sidebar .intro .title sup {
  margin-left: 6px;
  margin-right: -16px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(180deg, hsl(223deg 88% 52%), hsl(240deg 86% 55%));
  color: hsl(240deg 87% 92%);
  padding: 3px 7px;
  border-radius: 30px;
  vertical-align: middle;
}

.sidebar .intro .subtitle {
  color: #b3b3b3;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.2px;
}

.sidebar .intro .subtitle a {
  color: hsl(210deg 2% 87%);
  text-decoration: none;
}

.sidebar .intro .subtitle b {
  font-weight: 600;
  color: rgba(241,241,242,0.72);
}

.roundbutton {
  padding: var(--spacing-1);
  margin: calc(var(--spacing-1) * -1);
  border-radius: 50%;
}

.roundbutton:active {
  background: rgba(0,0,0,.15) !important;
}

.roundbutton.hidden {
  display: none;
}

.roundbuttons {
  display: flex;
}

.roundbuttons .roundbutton {
  margin-left: var(--spacing-1);
}

.sidebar .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-sizing: border-box;
  min-height: 40px;
  white-space: nowrap;
  font-size: 16px;
  padding: 7px 84px;
  height: 50px;
  width: 233px;
  font-weight: 500;
}

body .sidebar .button:active:not(:hover) {
  transition: .18s var(--ease-function);
  transition-property: background, color;
}

.sidebar .button.secondary {
  background: hsl(223deg 88% 52%);
  color: #fff;
}

body .sidebar .button.secondary:active {
  color: rgba(255,255,255,0.25);
  background: hsla(223deg 88% 52% / 50%) !important;
}

.sidebar .button.teritary {
  background: transparent;
  box-shadow: inset 0 0 0 1px hsl(228deg 16% 37%);
  color: hsl(220deg 4% 84% / 92%);
}

/*
.sidebar .button:active {
  background: hsl(228deg 16% 42%);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
*/

.sidebar .button.secondary:active {
  /* background: hsla(0,0%,100%,.2) !important; */
  color: hsl(220deg 4% 90%);
}

.sidebar .button.teritary:active {
  background: hsl(228deg 16% 37% / 23%) !important;
  color: hsl(220deg 4% 84%);
}

.sidebar .button svg {
  margin-right: var(--spacing-1);
}

.sidebar .intro-wrapper .button {
  margin-top: calc(var(--spacing-1) * 9);
}

.sidebar .learn-wrapper .picture-wrapper {
  background: #0b0d1a;
  height: 150px;
  width: 150px;
  padding: var(--spacing-3);
}

.sidebar .learn-wrapper .title {
  font-size: 24px;
  margin-bottom: var(--spacing-1);
  letter-spacing: -.004em;
  display: flex;
  align-items: center;
}

.sidebar .learn-wrapper .version {
  user-select: text;
  -webkit-user-select: text;
}

.base-spacing-left {
  margin-left: var(--spacing-1);
}

.base-spacing-top {
  margin-top: var(--spacing-1);
}

.tiny-spacing-top {
  margin-top: var(--spacing-2);
}

.small-spacing-top {
  margin-top: var(--spacing-4);
}

.medium-spacing-top {
  margin-top: var(--spacing-5);
}

.large-spacing-top {
  margin-top: var(--spacing-6);
}

.sidebar-background {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #090e1152;
  pointer-events: none;
  transform: translateX(0);
  transition: .4s var(--cubic-function);
  transition-property: transform, opacity;
  will-change: transform;
}

.bottom-wrapper.expanded ~ .sidebar-background {
  pointer-events: auto;
  opacity: 1;
}

.splash-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #313744;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 3000;
  overflow: hidden;
}

body.loaded .splash-wrapper {
  display: none;
}

.splash-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #313744;
  z-index: 10;
  transition: .18s var(--ease-function) opacity;
}

.splash-wrapper.connection::before {
  opacity: 0;
  pointer-events: none;
}

body.mobile.expanded .splash-wrapper,
body.mobile.expanded .splash-wrapper::before {
  background: #1a1c24;
}

.push-svg {
  overflow: visible;
  width: 39.5px;
  height: 39.5px;
  pointer-events: none;
}
.push-svg #push, .push-svg #check {
  fill: transparent;
  transform-origin: 75% 75%;
  transition: .18s var(--ease-function);
}
.push-svg #push {
  fill: rgba(241,241,242,0.8);
}
.push-svg #check {
  fill: transparent;
  transform: scale(1.075);
}
.push-svg #circle {
  transform-origin: 20.95px 20.95px;
}
.push-wrapper.checked {
  pointer-events: none;
}
.push-wrapper.checked .push-svg #check {
  transform: scale(1);
  fill: rgb(23, 191, 99);
  transition: .18s var(--ease-function), 0s fill;
  animation: push-pre-bobble 0.2s,
             push-expand 0.27s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
             push-bobble 0.55s 0.3s var(--cubic-function);
}
.push-wrapper.checked .push-svg #push {
  fill: transparent;
  transform: scale(0);
}
.push-wrapper.checked .push-svg #circle {
  animation: push-circle .25s forwards ease-in-out;
}
.push-wrapper.checked .push-svg #grp1 {
  opacity: 1;
  transition: 0.1s 0.2s;
}
.push-wrapper.checked .push-svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp2 {
  opacity: 1;
  transition: 0.1s 0.2s;
}
.push-wrapper.checked .push-svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp3 {
  opacity: 1;
  transition: 0.1s 0.2s;
}
.push-wrapper.checked .push-svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp4 {
  opacity: 1;
  transition: 0.1s 0.2s;
}
.push-wrapper.checked .push-svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp5 {
  opacity: 1;
  transition: 0.2s all 0.2s;
}
.push-wrapper.checked .push-svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp6 {
  opacity: 1;
  transition: 0.2s 0.2s;
}
.push-wrapper.checked .push-svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp7 {
  opacity: 1;
  transition: 0.2s 0.2s;
}
.push-wrapper.checked .push-svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp2 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}
.push-wrapper.checked .push-svg #grp3 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}
.push-wrapper.checked .push-svg #grp4 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}
.push-wrapper.checked .push-svg #grp5 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}
.push-wrapper.checked .push-svg #grp6 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}
.push-wrapper.checked .push-svg #grp7 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}

@keyframes push-circle {
  from {
    transform: scale(0) translateY(-0.05px);
    stroke-width: 2px;
  }
  50% {
    transform: scale(4.8) translateY(-0.05px);
    stroke-width: 2.1px;
    transform-origin: 20.91px 20.9px;
  }
  to {
    transform: scale(15) translateY(-0.05px);
    stroke-width: 0;
    transform-origin: 20.821px 20.821px;
  }
}

@keyframes push-pre-bobble {
  from, to {
    transform: scale(0);
  }
}

@keyframes push-expand {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1.025);
  }
}

@keyframes push-bobble {
  from {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.spinner-loader {
  width: var(--spacing-1);
  height: var(--spacing-7);
  background: white;
  border-radius: 3px;
  margin-bottom: var(--spacing-7);
  transform-origin: center;
  animation: spinner-rotate 0.5s infinite;
  animation-timing-function: cubic-bezier(0.45, 0, 0.2, 1);
}@@

@keyframes spinner-rotate {
  to {
    transform: rotate(0.5turn);
  }
}

.splash-wrapper .logo {
  width: 175px;
  height: 175px;
}

.splash-wrapper .tip {
  margin-top: 17px;
  text-align: center;
  box-shadow: inset 0px 0 0 1px rgb(0 0 0 / 20%);
  background: #2B303B;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding: 18px;
}

.splash-wrapper .tip .title {
  color: rgba(241,241,242,0.92);
  font-size: 11px;
  margin-bottom: 9px;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.splash-wrapper .tip .content {
  font-size: 12px;
  letter-spacing: 0.1px;
}

.splash-wrapper a {
  color: #8ab4f8;
  cursor: default;
  text-decoration: none;
}

.splash-wrapper a:active {
  text-decoration: underline;
}

body:not(.mobile) .splash-wrapper a:hover {
  text-decoration: underline;
}


body:not(.platform-mac) .bookmark,
body:not(.platform-mac) .sidebar .header .titlescreen .title,
body:not(.platform-mac) .sidebar .item,
body:not(.platform-mac) .sidebar .item .push-wrapper,
body:not(.platform-mac) .sidebar .more,
body:not(.platform-mac) .roundbutton,
body:not(.platform-mac) .sidebar .button,
body:not(.platform-mac) .splash-wrapper a {
  cursor: pointer;
}


body:not(.mobile) {
  --sidebar-width: 350px;
}

body:not(.mobile) .sidebar::-webkit-scrollbar {
  width: 10px;
}

body:not(.mobile) .sidebar::-webkit-scrollbar-corner,
body:not(.mobile) .sidebar::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

body:not(.mobile) .sidebar .header .logo::-webkit-scrollbar {
  height: 10px;
}

body:not(.mobile) .sidebar .header .logo::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

body:not(.mobile) .sidebar .header .logo::-webkit-scrollbar-thumb {
  background-color: rgb(130 134 137 / 50%);
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

body:not(.mobile) .sidebar .header .logo::-webkit-scrollbar-thumb:hover {
  background-color: rgb(130 134 137 / 65%);
}

body:not(.mobile) .sidebar .header .logo::-webkit-scrollbar-thumb:active {
  background-color: rgb(130 134 137 / 50%);
}

body:not(.mobile) .roundbutton {
  transition: .18s var(--ease-function), 0s background;
}

body:not(.mobile) .roundbutton:hover {
  background: rgba(0,0,0,.1);
}

body:not(.mobile) .sidebar .item .push-wrapper:not(.checked):hover .push-svg {
  background: rgba(0,0,0,.1);
}

/*
body:not(.mobile) .sidebar .button:hover {
  background: hsl(228deg 16% 42%);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
*/

body:not(.mobile) .sidebar .button.secondary:hover {
  background: hsl(223deg 85% 54%);
  transition: none;
}

body:not(.mobile) .sidebar .button.teritary:hover {
  background: hsl(228deg 16% 37% / 12%);
  transition: none;
}


body.mobile {
  width: 100vw;
  overflow-x: hidden;
  --sidebar-width: 100vw;
}

body.mobile.expanded {
  background: #1a1c24;
}

body.mobile.expanded .cd-wrapper {
  width: 100%;
  height: 100%;
  transition-property: transform;
}

body.mobile cd-el {
  padding-bottom: calc(56px + 56px + 10.5px + env(safe-area-inset-bottom));
  scroll-padding-bottom: calc(56px + 56px + 10.5px + env(safe-area-inset-bottom));
  -webkit-overflow-scrolling: touch;
}

body.mobile .bottom-wrapper {
  display: flex;
}

body.mobile.expanded .bottom-wrapper {
  transform: translateX(var(--sidebar-width))
             translateY(calc(100% + env(safe-area-inset-bottom, 0px)));
}

body.mobile .bookmark {
  display: none;
}

body.mobile.expanded .bookmark {
  transform: translateX(0);
}

body.mobile .sidebar {
  -webkit-overflow-scrolling: touch;
}

body.mobile .sidebar-background {
  display: block;
}

body.mobile.expanded .sidebar-background {
  opacity: 1;
  pointer-events: auto;
}


body {
  
  --rosemary-blue: hsl(223deg 88% 52%);
  --rosemary-light: hsl(223deg 85% 54%);
  --rosemary-lighter: hsl(223deg 86% 64%);
  --rosemary-white: hsl(240deg 87% 92%);
  --rosemary-dark: hsl(223deg 88% 52%);
  
  --sea-blue-hint: #313744;
  
  --midnight-blue: #1a1c24;
  --midnight-light: hsl(227deg 11% 16%);
  --midnight-lighter: hsl(226deg 7% 19%);
  
  
  --button-main: var(--rosemary-blue);
  --button-hover: var(--rosemary-light);
  
  --editor-background: var(--sea-blue-hint);
  
  --sidebar-background: var(--rosemary-blue);
  --sidebar-hover: var(--midnight-light);
  --sidebar-active: var(--midnight-lighter);
  
  
  --spacing-1: 7px;
  --spacing-2: calc(var(--spacing-1) * 2);
  --spacing-3: calc(var(--spacing-1) * 3);
  --spacing-4: calc(var(--spacing-1) * 4);
  --spacing-5: calc(var(--spacing-1) * 5);
  --spacing-6: calc(var(--spacing-1) * 6);
  --spacing-7: calc(var(--spacing-1) * 7);
  
  
  --ease-function: cubic-bezier(0.32, 0.08, 0.24, 1);
  --cubic-function: cubic-bezier(0.4, 0, 0.25, 1);
  
  
  tab-size: 2;
}

html, body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  touch-action: manipulation;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

@media print {

  * {
    color: black !important;
  }

  html, body {
    overflow: auto !important;
    background: white !important;
  }

  .cd-wrapper {
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
    overflow: visible !important;
  }

  body cd-el {
    overflow: visible !important;
    background: white !important;
  }

  .line-numbers .line-numbers-rows {
    opacity: .7 !important;
  }

  .bookmark {
    display: none !important;
  }

  .sidebar {
    display: none !important;
  }

}
