@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  background: #313744;
  color: #d4d5d7;
  font-family: 'Inter', sans-serif;
}

.focus::before {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 2px rgb(104 187 228 / 50%);
  pointer-events: none;
  border-radius: 5px;
  z-index: 100;
  content: '';
}

body cd {
  width: 100%;
  height: 100%;
  padding: 10px;
  left: 0;
  position: relative;
  box-sizing: border-box;
  transition: .4s var(--cubic-function);
  transition-property: width, left;
  will-change: width, left;
}

body.expanded cd {
  width: calc(100% - var(--sidebar-width));
  left: var(--sidebar-width);
}

body.transitioning cd {
  transition: none;
}

.github {
  position: fixed;
  bottom: 5px;
  left: 0;
  z-index: 1000;
  background: #1a1c24;
  color: #d4d5d7;
  border-radius: 0 500px 500px 0;
  padding: 7px 10px;
  cursor: pointer;
  transform: translateX(-100%);
  will-change: transform, left, padding;
  transition: .18s var(--ease-function), .4s var(--cubic-function) left, .4s var(--cubic-function) padding;
  animation: show 1.5s var(--ease-function), hide .18s 1.5s var(--ease-function);
  border: 1px solid transparent;
  border-left: 0;
}

body.expanded .github {
  transform: none;
  box-shadow: 1px 2px 6px 0px rgb(0 0 0 / 5%);
  animation: none;
  padding-left: 7.5px;
  left: calc(var(--sidebar-width) - 0.5px);
}

body.transitioning .github {
  transition: .18s var(--ease-function), 0s left, 0s padding;
}

.github::after, .commit::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 25px;
  transform: translateX(100%);
  transition: inherit;
  z-index: -1;
}

.github:hover {
  transform: none;
  box-shadow: 1px 2px 6px 0px rgb(0 0 0 / 5%);
  animation: none;
}

.github:hover::after {
  transform: none;
}

body.expanded .github::after {
  transform: translateX(-100%);
  pointer-events: none;
}

.github:active {
  background: hsl(228deg 16% 10%);
}

.github svg {
  opacity: .72;
}

.github path {
  transition: .4s var(--cubic-function);
}

.github .left {
  opacity: 0;
}

body.expanded .github .right {
  opacity: 0;
}

body.expanded .github .left {
  opacity: 1;
}

.commit {
  position: fixed;
  bottom: 17px;
  padding: 15px;
  border-radius: 50%;
  background: hsl(228deg 16% 37%);
  color: #fff;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .18s var(--ease-function);
  will-change: transform;
  right: 0;
  transform: translateX(100%);
  cursor: pointer;
  z-index: 1000;
}

.commit::after {
  right: 0;
  left: auto;
  transform: translateX(-100%);
  width: 30px;
}

.commit:hover {
  background: hsl(228deg 16% 42%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 6%), 0 3px 7px 0 rgb(0 0 0 / 20%);
  transform: translateX(-11px);
}

.commit:hover::after {
  transform: translateX(11px);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #1a1c24;
  color: #d4d5d7;
  transition: .4s var(--cubic-function);
  width: var(--sidebar-width);
  transform: translateX(-100%);
  overflow-x: hidden;
  overflow-y: overlay;
  pointer-events: none;
  box-shadow: inset -1px 0 0 0 #ffffff3d;
  z-index: 999;
  padding-right: 1px;
  will-change: transform;
}

/*
.sidebar::after {
  content: '';
  position: absolute;
  top: 0;
  right: -7px;
  width: 10px;
  height: 100%;
  background: #00000033;
  filter: blur(9px);
  z-index: 100;
}
*/

body.expanded .sidebar {
  transform: none;
  pointer-events: auto;
}

body.transitioning .sidebar {
  transition: none;
}

.sidebar .content-wrapper {
  display: none;
}

.sidebar:not(.intro) .content-wrapper {
  display: block;
}

.sidebar.intro .intro-wrapper {
  display: block;
}

.sidebar:not(.intro) .intro-wrapper {
  display: none;
}

.sidebar .loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: #568af2;
  transition: width .4s ease, opacity .4s linear;
  z-index: 1000;
}

.sidebar .header {
  height: 59px;
  margin-bottom: 9px;
  padding-top: 15px;
  box-shadow: 0 1px 0 0 #f1f1f21c;
  background: #1a1c24;
  position: sticky;
  top: 0;
  z-index: 100;
}

.sidebar :is(.titlescreen, .searchscreen) {
  display: flex;
  height: 59px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
  position: absolute;
  transition: .18s var(--ease-function);
}

.sidebar .header.searching .titlescreen {
  opacity: 0;
  pointer-events: none;
}

.sidebar .header:not(.searching) .searchscreen {
  opacity: 0;
  pointer-events: none;
}

.sidebar .header .title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar .searchscreen .title {
  cursor: unset;
}

.sidebar .header :is(.search, .clear) {
  padding: 7px;
  margin-right: -7px;
  cursor: pointer;
  border-radius: 50%;
  color: #828689;
  transition: .18s var(--ease-function);
}

.sidebar .header .back {
  color: currentColor;
  cursor: pointer;
  z-index: 1;
}

.sidebar .searchscreen .back {
  color: #828689;
  margin-right: 7px;
}

.sidebar .header .logo {
  font-weight: 600;
  color: rgba(241,241,242,0.92);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 235px;
}

.sidebar .header .title:hover .logo.overflow {
  background: hsl(218deg 18% 23%);
  padding: 9px;
  padding-left: 32px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 15%), 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  left: calc(44px - 26px);
  max-width: calc(235px + 26px);
  color: #fff;
  position: absolute;
  box-sizing: border-box;
}

.sidebar .header .search:active {
  background: rgba(0,0,0,.1);
  transform: scale(0.95);
}

.sidebar .searchinput {
  width: 141px;
  white-space: nowrap;
  line-height: 20px;
  color: #d4d5d7;
  word-wrap: break-word;
  position: relative;
  height: 100%;
  outline: none;
  user-select: text;
  -webkit-user-select: text;
  overflow: hidden;
}

.sidebar .searchinput:empty::before {
  content: 'Search...';
  color: rgba(241,241,242,0.43);
  pointer-events: none;
}

.sidebar .header .clear {
  opacity: 0;
  pointer-events: none;
}

.sidebar .header .clear.visible {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsl(228deg 16% 12%);
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
  scroll-margin: 75px;
}

.sidebar .item:hover {
  background: hsl(227deg 11% 16%);
}

.sidebar .item:not(.file):active {
  background: hsl(226deg 7% 19%);
}

.sidebar .item.selected {
  background: hsl(226deg 7% 19%);
}

.sidebar .item .label {
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .file.modified .label::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 8px;
  height: 8px;
  background: #568af2;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #191d24;
}

.sidebar .file:hover .label::before {
  box-shadow: 0 0 0 2px hsl(227deg 11% 16%);
}

.sidebar .file.selected .label::before {
  box-shadow: 0 0 0 2px hsl(226deg 7% 19%);
}

.sidebar .item .icon {
  margin-right: 7px;
  color: #828689;
}

.sidebar .item .name {
  /* width: 130px; */
  max-width: 245px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .item .push {
  padding: 7px;
  margin: -7px;
  cursor: pointer;
  border-radius: 50%;
  color: #828689;
  position: absolute;
  display: none;
  right: 20px;
  transition: .18s var(--ease-function);
}

.sidebar .item.modified .push {
  display: block;
}

.sidebar .item .push:active {
  background: rgba(0,0,0,.1);
  transform: scale(0.95);
}

.sidebar .item .arrow {
  color: #828689;
}

.sidebar .more {
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-top: 1px solid #f1f1f21c;
  margin-top: 8px;
  height: 59px;
  box-sizing: border-box;
}

.sidebar .more:hover {
  background: hsl(227deg 11% 16%);
}

.sidebar .more .icon {
  margin-right: 7px;
}

.sidebar .intro {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border-bottom: 5px solid hsl(228deg 16% 23%);
  border-color: #f1f1f21c;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

.sidebar .intro .picture-wrapper {
  height: 120px;
  width: 120px;
  margin-bottom: 25px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 20px;
  display: block;
  background: hsl(228deg 16% 21%);
}

.sidebar .intro .picture {
  width: 100%;
  height: 100%;
}

.sidebar .intro .subhead {
  text-align: center;
}

.sidebar .intro .title {
  color: #f1f1f2e0;
  font-size: 19px;
  margin-bottom: 18px;
  font-weight: 500;
}

.sidebar .intro .subtitle {
  color: #a6a8aa;
  font-size: 14px;
  line-height: 20px;
}

.sidebar .intro .subtitle a {
  color: hsl(210deg 2% 87%);
  text-decoration: none;
}

.sidebar .intro .subtitle b {
  font-weight: 600;
  color: rgba(241,241,242,0.72);
}

.sidebar .button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  border-radius: 3px;
  font-size: 14px;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: .18s var(--ease-function);
  margin-top: 34px;
  min-height: 40px;
  background: hsl(228deg 16% 37%);
  color: #fff;
}

.sidebar .button.secondary {
  margin-top: 15px;
  background: transparent;
  box-shadow: inset 0 0 0 1px hsl(228deg 16% 37%);
  color: inherit;
}

.sidebar .button:hover {
  background: hsl(228deg 16% 42%);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-corner, .sidebar::-webkit-scrollbar-track {
  background: #1a1c24;
  box-shadow: none;
}

@keyframes show {
  
  from, to {
    transform: none;
    box-shadow: 1px 2px 6px 0px rgb(0 0 0 / 5%);
  }
  
}

@keyframes hide {
  
  from {
    transform: none;
    box-shadow: 1px 2px 6px 0px rgb(0 0 0 / 5%);
  }
  
}

:root {
  --ease-function: cubic-bezier(0.32, 0.08, 0.24, 1);
  --cubic-function: cubic-bezier(0.4, 0, 0.25, 1);
  /* --sidebar-width: 245px; */
  --sidebar-width: 350px;
}

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}
