
html, body {
  background: #313744;
  color: #d4d5d7;
  caret-color: #fff;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', system-ui, sans-serif;
}

.focus::before {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 2px rgb(104 187 228 / 50%);
  pointer-events: none;
  z-index: 1000;
  content: '';
}

::selection {
  background: rgba(255, 255, 255, 0.15);
}

.cd-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: .4s var(--cubic-function);
  transition-property: width, transform;
  will-change: transform;
  overflow: hidden;
}

body.expanded .cd-wrapper {
  width: calc(100% - var(--sidebar-width));
  transform: translateX(var(--sidebar-width));
}

body.notransition .cd-wrapper {
  transition: none;
}

body cd-el {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding: 10.5px 13.5px;
  left: 0;
  font-size: 14px;
  font-size: inherit;
  position: relative;
  box-sizing: border-box;
  white-space: pre;
  word-wrap: normal;
  padding-bottom: calc(41px + 10.5px);
  scroll-padding-bottom: calc(41px + 10.5px);
}

.bottom-wrapper {
  position: fixed;
  bottom: env(safe-area-inset-bottom, 0px);
  left: 0;
  right: 0;
  height: calc(45px + 56px + 45px);
  display: none;
  justify-content: center;
  transition: .4s var(--cubic-function);
  transition-property: transform, height, background;
  transform: none;
  will-change: transform;
  z-index: 1001;
}

body.notransition .bottom-wrapper {
  transition: none;
}

.bottom-wrapper.hidden {
  transform: translateY(calc(100% + env(safe-area-inset-bottom, 0px)));
}

.bottom-wrapper.expanded {
  transform: translateY(calc(-100vh + 100% - env(safe-area-inset-top, 0px)));
  height: 44px;
}

.bottom-wrapper.expanded.fromtop {
  top: env(safe-area-inset-top, 0px);
  bottom: auto;
  transform: none;
  transition: none;
}

.bottom-wrapper.expanded.fromtop * {
  transition: none !important;
}

.bottom-wrapper.notransition, .bottom-wrapper.notransition * {
  transition: none !important;
}

.bottom-float {
  position: relative;
  margin: 45px 0;
  width: calc(100% - 45px - env(safe-area-inset-left));
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background: #1a1c24;
  color: #d4d5d7;
  box-shadow: 0 1px 2px rgb(0 0 0 / 17%), 0 6px 8px rgb(0 0 0 / 29%);
  height: 56px;
  transition: .4s var(--cubic-function);
}

.bottom-wrapper.expanded .bottom-float {
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  box-shadow: 0 0 0 rgb(0 0 0 / 17%), 0 0 0 rgb(0 0 0 / 29%), inset 0 -1px 0 0 rgb(255 255 255 / 16%);
  margin: 0;
  height: 44px;
  pointer-events: none;
}

.bottom-float .menu-item {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  transition: .4s var(--cubic-function), 0s background;
}

.bottom-float .sidebar-open {
  flex: 1;
  border-radius: 20px;
}

.bottom-float.modified .sidebar-open,
.bottom-float.file-open .sidebar-open {
  border-radius: 20px 0 0 20px;
}

.bottom-wrapper.expanded .bottom-float .sidebar-open {
  padding: 11px 16px;
}

.bottom-float .sidebar-open:active {
  background: hsl(228deg 16% 10%);
}

.bottom-wrapper .bottom-float .menu-icon {
  transition: .4s var(--cubic-function);
  transition-property: opacity, margin-left;
}

.bottom-wrapper.expanded .bottom-float .menu-icon {
  opacity: 0;
  margin-left: -24px;
}

.bottom-float .logo {
  margin-left: 10px;
  max-width: calc(100vw - 184px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  transition: .4s var(--cubic-function);
}

.bottom-wrapper.expanded .bottom-float .logo {
  margin-left: calc(50vw - 16px);
  transform: translateX(-50%);
}

.bottom-float .badge {
  position: absolute;
  bottom: 16px;
  left: 35px;
  width: 8px;
  height: 8px;
  background: var(--rosemary-lighter);
  border-radius: 50%;
  box-shadow: 0 0 0 2px #191d25;
  display: none;
  transition: .4s var(--cubic-function);
  transition-property: opacity, bottom, left;
}

.bottom-float.modified .badge {
  display: block;
}

.bottom-wrapper.expanded .bottom-float .badge {
  opacity: 0;
  left: 7px;
  bottom: 10px;
}

.bottom-float .menu-buttons {
  display: flex;
  height: 100%;
}

.bottom-float .live-open {
  background: hsl(0deg 0% 100% / 3%);
  color: rgba(241,241,242,0.8);
  width: 65px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.bottom-wrapper.expanded .bottom-float .live-open {
  width: 0;
  opacity: 0;
}

.bottom-float .download {
  background: hsl(0deg 0% 100% / 5%);
  box-shadow: inset 1px 0 0 0 hsl(0deg 0% 100% / 3%);
  border-radius: 0 20px 20px 0;
  width: 65px;
  box-sizing: border-box;
  justify-content: center;
  height: 100%;
  display: none;
  color: rgb(212 213 215 / 72%);
}

.bottom-float.file-open .download {
  display: flex;
}

.bottom-float .push-wrapper {
  background: hsl(0deg 0% 100% / 5%);
  border-left: 1px solid hsl(0deg 0% 100% / 3%);
  border-radius: 0 20px 20px 0;
  width: 65px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: none;
}

.bottom-float.modified .push-wrapper,
.bottom-float .push-wrapper.checked {
  display: flex;
}

.bottom-wrapper.expanded .bottom-float .push-wrapper {
  padding: 0;
  width: calc(65px - 24px);
  opacity: 0;
  border-radius: 0;
  margin-right: -1px;
  border-color: transparent;
}

.bottom-float .push-wrapper:not(.checked):active {
  background: #2e3037;
  background: hsl(0deg 0% 100% / 7.5%);
}

.bottom-float .push-wrapper .push-svg {
  position: absolute;
  left: 12.5px;
  transition: .4s var(--cubic-function) left;
}

.bottom-wrapper.expanded .bottom-float .push-svg {
  left: 0;
}

.live-buttons {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(calc(45px + 11.5px));
  will-change: transform;
  height: 44px;
  padding: 0 24px;
  opacity: 0;
  pointer-events: none;
  transition: .4s var(--cubic-function) transform, .4s var(--cubic-function) padding, .18s var(--ease-function) opacity;
}

.live-buttons .live-button {
  color: #828689;
  padding: 7px;
  margin: -7px;
}

.live-buttons .live-button:active {
  opacity: .5;
}

.live-buttons .live-button path {
  pointer-events: none;
}

.live-buttons .live-button.share path.ios {
  opacity: 0;
}

body.safari .live-buttons .live-button.share path {
  opacity: 0;
}

body.safari .live-buttons .live-button.share path.ios {
  opacity: 1;
}

.bottom-wrapper.expanded .live-buttons {
  opacity: 1;
  pointer-events: auto;
  transition: .4s var(--cubic-function) transform, .4s var(--cubic-function) padding, .18s .14s var(--ease-function) opacity;
  transform: none;
  padding: 0 18px;
}

.live-view {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -1px;
  top: 44px;
  transform: translateY(calc(100% - 28px - 45px - env(safe-area-inset-bottom, 0px)));
  padding-bottom: env(safe-area-inset-bottom);
  background: #1a1c24;
  background: #0e0e0e;
  color: #d4d5d7;
  box-shadow: inset 1px 0 0 0 #ffffff3d;
  padding-left: 1px;
  pointer-events: none;
  box-sizing: border-box;
  will-change: transform;
  transition: none;
  opacity: 0;
  z-index: 1000;
}

body:not(.mobile) .live-view {
  top: 0;
  opacity: 1;
  transform: translateX(100%);
}

body.loaded .live-view {
  transition: .4s var(--cubic-function);
  transition-property: transform, opacity;
}

body.loaded:not(.mobile) .live-view {
  transition-property: transform;
}

.live-view.visible,
.bottom-wrapper.expanded + .live-view {
  opacity: 1;
  transform: none !important;
  pointer-events: auto;
}

.live-view.notransition,
.bottom-wrapper.notransition + .live-view {
  transition: none !important;
}

.live-view.visible:not(.loaded)::before,
.bottom-wrapper.expanded + .live-view:not(.loaded)::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  width: 100vw;
  border-radius: 6px;
  pointer-events: none;
  background: var(--rosemary-lighter);
  transform: translateX(calc(-100% - env(safe-area-inset-left, 0px)));
  will-change: transform;
  opacity: 0;
  animation: live-loader .72s .4s var(--cubic-function) infinite,
             live-visible .4s linear forwards;
  z-index: 1;
}

@keyframes live-loader {
  from {
    width: 0;
    transform: translateX(calc(-100% - env(safe-area-inset-left, 0px)));
  }
  50% {
    width: 100vw;
    transform: none;
  }
  to {
    width: 100vw;
    transform: translateX(100vw);
  }
}

@keyframes live-visible {
  99.99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.live-view.file-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - var(--sidebar-width));
  transform: none !important;
  pointer-events: auto;
  left: auto;
  box-shadow: none;
  padding-left: 0;
}

body.mobile .live-view.file-open {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: .4s var(--cubic-function) left;
}

body.mobile.expanded .live-view.file-open {
  left: 100%;
}

body.notransition .live-view.file-open {
  transition: none;
}

.live-view.file-open::before {
  content: unset;
}

.live-view.centered-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-view img {
  width: 100%;
  max-height: 100%;
  max-width: max-content;
  background: hsl(0, 0%, 90%);
}

.live-view .live-frame {
  width: 100%;
  height: 100%;
  background: #fff;
  max-width: unset;
}

.live-view .console {
  height: 100%;
  background: #1a1c24;
}

.live-view .prompt {
  text-align: center;
  padding: 0 10px;
}

.live-view .prompt .file-svg {
  margin-bottom: calc(7px / 2 * 9);
  -webkit-filter: drop-shadow(0 0 48px hsl(223deg 85% 58% / 50%));
  filter: drop-shadow(0 0 48px hsl(223deg 85% 58% / 50%));
}

.live-view .prompt .title {
  letter-spacing: -.004em;
  color: #f1f1f2e0;
  margin-bottom: calc(7px / 2 * 3);
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -.002em;
}

.live-view .prompt .desc {
  color: #d7d7d7;
  font-size: 16px;
  line-height: 22px;
}

.bookmark {
  display: flex;
  position: fixed;
  bottom: 5px;
  left: 0;
  background: #1a1c24;
  color: #d4d5d7;
  border-radius: 0 500px 500px 0;
  padding: 7px 10px;
  border: 3px solid transparent;
  border-left-width: 1px;
  transition: .18s var(--ease-function);
  transition-property: left, box-shadow;
  z-index: 999;
}

.bookmark.visible {
  box-shadow: 1px 2px 6px 0px rgb(0 0 0 / 5%);
}

.bookmark:active {
  background: hsl(228deg 16% 10%);
}

body.scroll-enabled .bookmark {
  bottom: calc(16px + 5px);
}

.bookmark .buttons {
  display: flex;
  align-items: center;
  grid-gap: 15px;
  padding-left: 10px;
}

.bookmark svg {
  opacity: .72;
  padding: 10px;
  margin: -10px;
  display: block;
  transition: .18s var(--ease-function) opacity;
}

.sidebar-toggle {
  left: -50px;
  will-change: transform;
  transition: .18s var(--ease-function) left,
              .4s var(--cubic-function) transform,
              .4s var(--cubic-function) padding;
}

.sidebar-toggle::after {
  content: '';
  position: absolute;
  left: 45px;
  bottom: 0;
  height: 100vh;
  width: 10px;
  cursor: text;
  z-index: -1;
}

.sidebar-toggle.visible {
  left: -1px;
}

.sidebar-toggle.visible::after {
  pointer-events: none;
}

.live-toggle.file-open + .sidebar-toggle,
body.embed .sidebar-toggle {
  display: none;
}

body.expanded .sidebar-toggle {
  transform: translateX(calc(var(--sidebar-width) - 1px));
}

body.notransition :is(.sidebar-toggle, .sidebar-toggle *) {
  transition: none;
}

.sidebar-toggle svg path {
  transition: .4s var(--cubic-function);
}

.sidebar-toggle svg .left {
  opacity: 0;
}

body.expanded .sidebar-toggle svg .right {
  opacity: 0;
}

body.expanded .sidebar-toggle svg .left {
  opacity: 1;
}

.live-toggle {
  right: 0;
  left: auto;
  border-radius: 500px 0 0 500px;
  display: none;
  width: 48px;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: flex-end;
  transition-property: width, box-shadow;
  z-index: 1000;
}

.live-toggle.visible,
.live-toggle.file-open {
  display: flex;
}

.live-view.visible ~ .live-toggle,
.live-view.file-open ~ .live-toggle {
  box-shadow: 2px 5px 6px 0px rgb(0 0 0 / 9%);
}

.live-view.visible ~ .live-toggle:hover {
  width: 136px;
  transition-delay: .22s;
}

.live-view.file-open ~ .live-toggle:hover {
  width: 97px;
  transition-delay: .22s;
}

.live-view.visible ~ .live-toggle:active,
.live-view.file-open ~ .live-toggle:active {
  background: #1a1c24;
}

.live-view.visible ~ .live-toggle svg:hover,
.live-view.file-open ~ .live-toggle svg:hover {
  opacity: 1;
}

.live-view.visible ~ .live-toggle svg:active,
.live-view.file-open ~ .live-toggle svg:active {
  opacity: .5;
  transition: none;
}

.live-toggle .arrow path {
  opacity: 0;
  transform-origin: center;
  transition: .4s var(--cubic-function);
}

.live-toggle .arrow .left {
  transform: scale(1.4);
}

.live-toggle .arrow .right {
  transform: scale(0.4);
  transform-origin: center;
}

.live-view.visible ~ .live-toggle .arrow .right {
  opacity: 1;
  transform: none;
}

.live-view:not(.visible) ~ .live-toggle .arrow .left {
  opacity: 1;
  transform: none;
}

.live-toggle:not(.file-open) svg.download {
  display: none;
}

.live-toggle.file-open svg:not(.share, .download) {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: calc((var(--sidebar-width) + 1px) * -1);
  height: 100%;
  background: #1a1c24;
  color: #d4d5d7;
  transition: .4s var(--cubic-function) transform;
  width: calc(var(--sidebar-width) + 1px);
  transform: none;
  overflow-x: hidden;
  overflow-y: overlay;
  pointer-events: none;
  box-shadow: inset -1px 0 0 0 #ffffff3d;
  padding-left: env(safe-area-inset-left);
  padding-right: 1px;
  box-sizing: border-box;
  will-change: transform;
  z-index: 998;
}

/*
.sidebar::after {
  content: '';
  position: absolute;
  top: 0;
  right: -7px;
  width: 10px;
  height: 100%;
  background: #00000033;
  filter: blur(9px);
  z-index: 100;
}
*/

body.expanded .sidebar {
  transform: translateX(calc(100% - 1px));
  pointer-events: auto;
}

body.mobile.expanded .sidebar {
  transform: translateX(100%);
}

body.notransition .sidebar {
  transition: none;
}

.sidebar .wrapper {
  width: 100%;
  height: max-content;
}

.sidebar :is(.content-wrapper, .learn-wrapper) {
  display: none;
}

.sidebar:not(.intro, .learn) .content-wrapper {
  display: block;
}

.sidebar.intro .intro-wrapper {
  display: block;
}

.sidebar:not(.intro) .intro-wrapper {
  display: none;
}

.sidebar.learn .learn-wrapper {
  display: block;
}

.sidebar .loader {
  position: sticky;
  top: 0;
  left: 0;
  height: 2px;
  width: var(--sidebar-width);
  margin-bottom: -2px;
  border-radius: 6px;
  pointer-events: none;
  background: #568af2;
  background: var(--rosemary-lighter);
  transform: translateX(calc(-100% - env(safe-area-inset-left, 0px)));
  overscroll-behavior: none;
  will-change: transform;
  z-index: 1000;
}

.sidebar.loading .loader {
  animation: loader .72s var(--cubic-function) infinite;
}

@keyframes loader {
  from {
    width: 0;
    transform: translateX(calc(-100% - env(safe-area-inset-left, 0px)));
  }
  50% {
    width: var(--sidebar-width);
    transform: none;
  }
  to {
    width: var(--sidebar-width);
    transform: translateX(var(--sidebar-width));
  }
}

.sidebar .header {
  height: 59px;
  margin-bottom: 11px;
  padding-top: 15px;
  box-shadow: 0 1px 0 0 #f1f1f21c;
  background: #1a1c24;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  overscroll-behavior: none;
  overflow: hidden;
  z-index: 100;
}

.sidebar .header::before,
.sidebar .header::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  height: 7px;
  background: linear-gradient(180deg, #1a1c24, #1a1c2400);
  pointer-events: none;
  z-index: 1;
}

.sidebar .header::after {
  top: auto;
  bottom: 0;
  background: linear-gradient(0deg, #1a1c24, #1a1c2400);
  z-index: 2;
}

.sidebar .header .screen {
  display: flex;
  height: 59px;
  width: calc(100% - 38px);
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: .18s var(--ease-function);
}

.sidebar .header .screen.visible {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .header .title {
  display: flex;
  align-items: center;
  position: relative;
  padding: 12px 0;
  padding-left: 18px;
  margin-left: -18px;
}

.sidebar .header .title-screen .title:hover {
  color: #fff;
}

.sidebar .header .title-screen .title:active {
  opacity: .5;
  transition: none;
}

.sidebar .header .logo {
  padding: 7px 0;
  font-weight: 600;
  color: rgba(241,241,242,0.92);
  max-width: calc(var(--sidebar-width) - 140px - 16px - 7px - 7px);
  overflow-x: overlay;
  white-space: nowrap;
  transition: .18s var(--ease-function);
  transition-property: padding-left, max-width;
}

.sidebar .header .logo::before,
.sidebar .header .logo::after {
  content: '';
  position: absolute;
  right: 0;
  width: 28px;
  height: 20px;
  background: linear-gradient(270deg, #1a1c24, #1a1c2400);
  transition: .18s var(--ease-function) opacity;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}

.sidebar .header .logo::before {
  right: auto;
  background: linear-gradient(90deg, #1a1c24, #1a1c2400);
  left: 42px;
}

.sidebar .header .logo::after {
  opacity: 1;
}

.sidebar .header .logo.scrolled-start::before {
  opacity: 1;
}

.sidebar .header .logo.scrolled-end::after {
  opacity: 0;
}

.sidebar .header .logo.notransition::before,
.sidebar .header .logo.notransition::after {
  transition: none;
}

.sidebar .header .title .branch-icon {
  padding: 5px;
  opacity: .5;
  position: absolute;
  right: -26px;
  color: #828689;
  display: none;
  z-index: 1;
}

.sidebar .header .title .branch-icon.visible {
  display: block;
}

.sidebar .header.out-of-repo .title .branch-icon {
  display: none;
}

body:not(.mobile) .sidebar .header .title .branch-icon:hover {
  opacity: 0.72;
}

.sidebar .header .title .branch-icon:active {
  opacity: 1;
}

body:not(.mobile) .sidebar .header .title .branch-icon:active {
  opacity: 0.5 !important;
}

.sidebar .header .title .branch-icon.active {
  opacity: 1 !important;
}

.sidebar .header .roundbutton.add {
  margin: 0;
  margin-right: calc(20px - var(--spacing-1));
  position: absolute;
  right: 0;
  z-index: 2;
  transition: .18s var(--ease-function) opacity;
}

/*
.sidebar .header .roundbutton.add .icon {
  transform-origin: center;
  transition: .18s var(--bounce-function);
  will-change: transform;
}

.sidebar .header .roundbutton.add.open .icon {
  transform: rotate(-45deg);
  opacity: .9;
}
*/


/*
.sidebar .header .options-screen,
.sidebar .header .title-screen {
  opacity: 1;
  overflow: hidden;
}

.sidebar .header .title-screen {
  z-index: 1;
}

.sidebar .header .title-screen > * {
  transform: translateY(40px);
  transition: .18s var(--bounce-function);
  transition-property: transform, opacity;
  will-change: transform;
}

.sidebar .header .title-screen.visible > * {
  transform: none;
}
*/


.sidebar .header .titlescreen .title::before,
.sidebar .header .titlescreen .title::after {
  content: '';
  position: absolute;
  right: -0.6px;
  right: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(270deg, #1a1c24, #1a1c2400);
  transition: .18s var(--ease-function) opacity;
  pointer-events: none;
  z-index: 1;
}

.sidebar .header .titlescreen .title::before {
  right: auto;
  background: linear-gradient(90deg, #1a1c24, #1a1c2400);
  transition: .18s var(--ease-function);
  left: 42px;
  opacity: 0;
}

.sidebar .header .titlescreen .title.scrolled-start::before {
  opacity: 1;
}

.sidebar .header .titlescreen .title.scrolled-end::after {
  opacity: 0;
}

.sidebar .header .titlescreen .title.notransition::before,
.sidebar .header .titlescreen .title.notransition::after {
  transition: none;
}


/*
.sidebar .header .options-screen .roundbutton {
  transform: translateY(-40px);
  transition: .18s var(--bounce-function);
  transition-property: transform, opacity;
  will-change: transform;
}

.sidebar .header .options-screen:not(.visible) .roundbutton {
  background: transparent !important;
}

.sidebar .header .options-screen.visible .roundbutton {
  transform: none;
}

.sidebar .header .options-screen.visible .roundbutton.share {
  transition-delay: .09s;
}

.sidebar .header .options-screen.visible .roundbutton.branch {
  transition-delay: .045s;
}


.sidebar .header .options-screen .new-file .icon {
  / if user dosen't have push access in repo, show clone repo icon /
  / d: path('M4 20H18V22H4C2.9 22 2 21.1 2 20V6H4V20M22 4V16C22 17.1 21.1 18 20 18H8C6.9 18 6 17.1 6 16V4C6 2.9 6.9 2 8 2H20C21.1 2 22 2.9 22 4M20 4H8V16H20V4M18 6H13V13L15.5 11.5L18 13V6Z'); /
}


.sidebar .header .options-screen .new-repo,
.sidebar .header .options-screen .clone-repo,
.sidebar .header .options-screen .global-search {
  display: none;
}

.sidebar .header .options-screen.out-of-repo .roundbutton {
  display: none;
}

.sidebar .header .options-screen.out-of-repo .roundbutton.new-repo {
  display: block;
}

.sidebar .header .options-screen.out-of-repo .roundbutton.share {
  display: block;
}

.sidebar .header .options-screen.out-of-repo.visible .roundbutton.share {
  transition-delay: .045s;
}
*/


.sidebar .header .search-screen {
  width: 100%;
}

.sidebar .header .search-screen .title {
  cursor: unset;
}

.sidebar .header .search-screen .back {
  transition: .18s var(--ease-function) margin-right;
}

.sidebar .header .search-screen .search-input {
  width: calc(var(--sidebar-width) - 103px - 7px);
  white-space: nowrap;
  line-height: 20px;
  color: #d4d5d7;
  word-wrap: break-word;
  position: relative;
  height: 100%;
  outline: none;
  user-select: text;
  -webkit-user-select: text;
  overflow: hidden;
}

.sidebar .header .search-screen .search-input:empty::before {
  content: 'Search...';
  color: rgba(241,241,242,0.43);
  pointer-events: none;
}

.sidebar .header .search-screen .clear {
  opacity: 0;
  pointer-events: none;
  transition: .18s var(--ease-function) transform;
}

.sidebar .header .search-screen .clear.visible {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .header:not(.searching) .search-screen .clear.visible {
  transform: rotate(-45deg);
}


.sidebar .header.searching .roundbutton.add,
.sidebar .header.searching .title-screen {
  opacity: 0;
  pointer-events: none;
}

.sidebar .header.searching .logo {
  padding-left: 7px;
  max-width: calc(var(--sidebar-width) - 140px - 16px - 7px - 7px - 7px);
}

.sidebar .header.searching .title .branch {
  padding-left: 7px;
}

.sidebar .header.searching .search-screen {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .header.searching .search-screen .back {
  margin-right: 0;
}


.sidebar .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsl(228deg 16% 12%);
  padding: 15px 20px;
  position: relative;
  scroll-margin: 75px;
  transition: .18s var(--ease-function) margin;
}

.sidebar .item:last-of-type {
  margin-bottom: calc(10px + env(safe-area-inset-bottom));
}

.sidebar .item:hover, .sidebar .item.file:not(.focused):active {
  background: hsl(227deg 11% 16%);
}

.sidebar .item:active {
  background: hsl(226deg 7% 19%);
}

.sidebar .item.selected {
  background: hsl(226deg 7% 19%);
}

.sidebar .item.focused {
  cursor: unset !important;
}

.sidebar .item.hidden {
  margin-top: calc(-54px - 11px);
  margin-bottom: 11px;
}

.sidebar .item .label {
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .file.modified .label::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 8px;
  height: 8px;
  background: var(--rosemary-lighter);
  border-radius: 50%;
  box-shadow: 0 0 0 2px #191d24;
  z-index: 1;
}

.sidebar .file:hover .label::before,
.sidebar .file:active .label::before {
  box-shadow: 0 0 0 2px hsl(227deg 11% 16%);
}

.sidebar .file.selected .label::before {
  box-shadow: 0 0 0 2px hsl(226deg 7% 19%);
}

.sidebar .item .icon {
  margin-right: var(--spacing-1);
  color: #828689;
}

.sidebar .item[exists="false"] .icon {
  color: hsl(206deg 3% 42%);
}

.sidebar .item .name {
  max-width: calc(var(--sidebar-width) - 40px - 24px - 7px - 38px - 7px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .item.focused .name {
  border-radius: 4px;
  padding: 4px;
  margin: -4px;
  outline: none;
  user-select: text;
  -webkit-user-select: text;
  text-overflow: clip;
  background: hsl(220deg 86% 64% / 9%);
  box-shadow: 0 0 0 2px hsl(223deg 85% 66% / 70%);
  transition: .18s .04s var(--ease-function);
  transition-property: background, box-shadow;
}

.sidebar .repo.focused .name {
  max-width: calc(var(--sidebar-width) - 40px - 24px - 7px - 38px - 38px - 7px);
}

.sidebar .item.focused.hidden .name {
  background: transparent;
  box-shadow: 0 0 0 2px hsl(220deg 86% 64% / 0%);
}

.sidebar .item.focused .name:empty::before {
  content: 'new-file';
  color: gray;
  pointer-events: none;
}

.sidebar .repo.focused .name:empty::before {
  content: 'new-repo';
}

.sidebar .repo.focused .arrow {
  display: none;
}

.sidebar .repo .push-wrapper.checked + .arrow {
  display: none;
}

.sidebar .repo .lock {
  margin-right: calc(38px - var(--spacing-1));
}

.sidebar .repo .lock path {
  opacity: 1 !important;
  transition: .18s var(--ease-function) !important;
}

.sidebar .repo .lock:active #wrapper {
  opacity: .5;
}

.sidebar .repo .lock #shackle {
  stroke: currentColor;
  stroke-width: 1.58px;
  stroke-dasharray: 20px;
  stroke-dashoffset: 8.4px;
  stroke-linecap: round;
  transform: scaleX(-1);
  transform-origin: center;
  will-change: transform;
}

.sidebar .repo .lock.locked #shackle {
  stroke-dashoffset: 6.1px;
  animation: lock-click .14s .124s var(--ease-function);
}

.sidebar .repo .lock:not(.locked) #housing-fill {
  opacity: 0 !important;
}

.sidebar .repo .lock.locked #plug {
  opacity: 0 !important;
}

@keyframes lock-click {
  50% {
    transform: scaleX(-1) translateY(0.5px);
  }
}

.sidebar .item .push-wrapper {
  position: absolute;
  display: none;
  right: calc(20px - var(--spacing-1));
}

.sidebar .item.modified .push-wrapper {
  display: flex;
}

.sidebar .item.focused .push-wrapper {
  display: flex;
}

.sidebar .item .push-wrapper.checked {
  display: flex;
}

.sidebar .item .push-wrapper .push-svg {
  border-radius: 50%;
}

.sidebar .item .push-wrapper:not(.checked):active .push-svg {
  background: rgba(0,0,0,.15) !important;
}

.sidebar .item .push-wrapper:not(.checked):active .push-svg #push {
  opacity: .5;
}

.sidebar .item .arrow {
  color: #828689;
}

.sidebar .more {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border-top: 1px solid #f1f1f21c;
  margin-top: 8px;
  height: 59px;
  box-sizing: border-box;
}

.sidebar .more:hover {
  background: hsl(227deg 11% 16%);
}

.sidebar .more .icon {
  margin-right: var(--spacing-1);
}

.sidebar .picture-wrapper {
  background: hsl(228deg 38% 21%);
  color: hsl(223deg 92% 87%);
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: var(--spacing-5);
  padding: var(--spacing-5);
  box-sizing: border-box;
}

.sidebar .picture-wrapper.faded {
  background: hsl(228deg 59% 6% / 50%);
}

.sidebar .intro {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  box-shadow: inset 0 -5px 0 0 hsl(223deg 28% 22%);
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

.sidebar .files .intro {
  height: calc(100% - 85px);
}

.sidebar .intro .picture {
  width: 100%;
  height: 100%;
}

.sidebar .intro .subhead {
  text-align: center;
}

.sidebar .intro .title {
  color: #f1f1f2e0;
  margin-bottom: var(--spacing-2);
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -.002em;
}

.sidebar .files .intro .title {
  margin-bottom: 0;
}

.sidebar .intro .title sup {
  margin-left: 6px;
  margin-right: -16px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(180deg, hsl(223deg 88% 52%), hsl(240deg 86% 55%));
  color: hsl(240deg 87% 92%);
  padding: 3px 7px;
  border-radius: 30px;
  vertical-align: middle;
}

.sidebar .intro .subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 3.5px;
  color: #b3b3b3;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.2px;
}

.sidebar .intro .subtitle a {
  color: hsl(210deg 2% 87%);
  text-decoration: none;
}

.sidebar .intro .subtitle b {
  font-weight: 600;
  color: rgba(241,241,242,0.72);
}

.roundbutton {
  padding: var(--spacing-1);
  margin: calc(var(--spacing-1) * -1);
  border-radius: 50%;
  overflow: visible;
  color: #828689;
}

.roundbutton:active,
.roundbutton.active {
  background: rgba(0,0,0,.15) !important;
}

.roundbutton:active path,
.roundbutton.active path {
  opacity: .5 !important;
  transition: .18s var(--bounce-function), 0s opacity !important;
}

.roundbutton.hidden {
  display: none;
}

.roundbuttons {
  display: flex;
}

.roundbuttons .roundbutton {
  margin-left: var(--spacing-1);
}

.sidebar .button {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-sizing: border-box;
  min-height: 40px;
  white-space: nowrap;
  font-size: 16px;
  padding: 7px 84px;
  height: 50px;
  width: 233px;
  font-weight: 500;
}

body.mobile .sidebar .button {
  transition: .1s var(--ease-function);
  transition-property: background, color;
}

.sidebar .button.secondary {
  background: hsl(223deg 88% 52%);
  color: #fff;
}

.sidebar .button.secondary:active {
  color: rgba(255,255,255,0.25);
  background: hsla(223deg 88% 52% / 50%) !important;
  transition: none;
}

.sidebar .button.teritary {
  background: transparent;
  color: hsl(220deg 4% 84% / 92%);
  box-shadow: inset 0 0 0 1px hsl(228deg 16% 37%);
}

.sidebar .button.teritary:active {
  color: hsl(220deg 4% 84% / 25%);
  background: transparent !important;
  box-shadow: inset 0 0 0 1px hsl(228deg 16% 37% / 50%);
  transition: none;
}

.sidebar .button svg {
  margin-right: var(--spacing-1);
}

.sidebar .intro-wrapper .button {
  margin-top: calc(var(--spacing-1) * 9);
}

.sidebar .learn-wrapper .picture-wrapper {
  background: #0b0d1a;
  height: 150px;
  width: 150px;
  padding: var(--spacing-3);
}

.sidebar .learn-wrapper .title {
  font-size: 24px;
  margin-bottom: var(--spacing-1);
  letter-spacing: -.004em;
  display: flex;
  align-items: center;
}

.sidebar .learn-wrapper .version {
  user-select: text;
  -webkit-user-select: text;
}

.sidebar .learn-wrapper .logout {
  display: none;
}

.sidebar .learn-wrapper.logout-enabled .logout {
  display: grid;
}

.sidebar .learn-wrapper.logout-enabled .share {
  margin-top: var(--spacing-2);
}


.menu {
  position: fixed;
  background: var(--deep-midnight-blue);
  color: #dcddde;
  box-shadow: 0 8px 16px rgb(0 0 0 / 24%);
  scroll-padding: 7px;
  border-radius: 11.5px;
  line-height: 1.5;
  margin-top: 4.5px;
  transform: translateY(-7px);
  top: 64px;
  left: 222px;
  /* right: 20px; */
  padding: 2px;
  min-width: 170px;
  min-width: 135px;
  max-width: 375px;
  max-height: calc(100vh - 80px - 6px);
  pointer-events: none;
  will-change: transform;
  transition: 0s .18s, .18s var(--bounce-function) opacity;
  opacity: 0;
  overflow-y: auto;
  z-index: 1000;
}

.menu.top-margin {
  margin-top: 2px;
}

.menu.visible {
  transform: none;
  padding: var(--spacing-1);
  pointer-events: auto;
  opacity: 1;
  transition: .18s var(--bounce-function);
  transition-property: transform, padding, opacity;
}

.menu .icon {
  padding: 10px 15px;
  padding: 8px 13px;
  padding: 8px 14px;
  border-radius: 5.75px;
  display: flex;
  align-items: center;
  grid-gap: 9.5px;
  grid-gap: 8.75px;
}

.menu .icon.selected {
  color: hsl(164deg 91% 33%);
  font-weight: 500;
}

body:not(.mobile) .menu .icon:not(:active):hover {
  background: rgba(255,255,255,0.05);
}

.menu .icon:active {
  background: rgba(255,255,255,0.1);
}

.menu .icon a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 16px - 7px);
}

body.mobile .menu .icon a {
  max-width: calc(100vw - 16px - 7px - 147px - 11px);
}

.menu .icon:not(.selected) .branch-icon {
  color: #828689;
  opacity: .5;
}

.menu .icon .bigger-icon {
  color: #828689;
  transform: scale(1.35) translateX(-0.1px);
}

.menu.context-menu {
  margin-top: -4px;
  margin-left: -2px;
}

.menu.context-menu .icon .bigger-icon {
  opacity: 1;
}


.message-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: calc(15px + env(safe-area-inset-bottom, 0px));
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 1001;
}

.message {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: var(--deep-midnight-blue);
  color: #dcddde;
  font-weight: 500;
  line-height: 1.5;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 24%);
  /* left: calc(((100vw - var( --sidebar-width)) / 2) + var(--sidebar-width)); */
  /* left: calc(var(--sidebar-width) / 2); */
  max-width: 356px;
  white-space: pre;
  overflow-wrap: anywhere;
  transition: 0s .18s, .18s var( --bounce-function) opacity;
}

.message.visible {
  padding: 10px 16px;
  opacity: 1;
  border-radius: 11.5px;
  transition: .18s var( --bounce-function);
}

.message.animating {
  color: transparent;
  border-radius: 8px;
  padding: 0;
  transition: none;
}


.base-spacing-left {
  margin-left: var(--spacing-1);
}

.base-spacing-top {
  margin-top: var(--spacing-1);
}

.tiny-spacing-top {
  margin-top: var(--spacing-2);
}

.small-spacing-top {
  margin-top: var(--spacing-4);
}

.medium-spacing-top {
  margin-top: var(--spacing-5);
}

.large-spacing-top {
  margin-top: var(--spacing-6);
}

.sidebar-background {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #090e1152;
  pointer-events: none;
  transform: translateX(0);
  transition: .4s var(--cubic-function);
  transition-property: transform, opacity;
  will-change: transform;
}

.bottom-wrapper.expanded ~ .sidebar-background {
  pointer-events: auto;
  opacity: 1;
}

.splash-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #313744;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index: 3000;
  overflow: hidden;
}

body.loaded .splash-wrapper {
  display: none;
}

.splash-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #313744;
  z-index: 10;
  transition: .18s var(--ease-function) opacity;
}

.splash-wrapper.loader::before {
  opacity: 0;
  pointer-events: none;
}

body.mobile.expanded .splash-wrapper,
body.mobile.expanded .splash-wrapper::before {
  background: #1a1c24;
}

.splash-wrapper .loading-subtitle {
  padding-top: var(--spacing-7);
  margin-top: -69px;
  opacity: 0;
  pointer-events: none;
  transition: .18s var(--bounce-function),
              .18s .04s var(--ease-function) opacity;
  display: grid;
  text-align: center;
  grid-gap: 7px;
}

.splash-wrapper.connection .loading-subtitle {
  margin-top: 0;
  opacity: 1;
  pointer-events: auto;
}

a.link[href] {
  color: var(--rosemary-lightness-deluxe) !important;
  text-decoration: none;
}

a.link[href]:active {
  text-decoration: underline;
}

body:not(.mobile) a.link[href]:hover {
  text-decoration: underline;
}

.splash-wrapper .logo {
  width: 175px;
  height: 175px;
}

.splash-wrapper .tip {
  margin-top: 17px;
  text-align: center;
  box-shadow: inset 0px 0 0 1px rgb(0 0 0 / 20%);
  background: #2B303B;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding: 18px;
}

.splash-wrapper .tip .title {
  color: rgba(241,241,242,0.92);
  font-size: 11px;
  margin-bottom: 9px;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.splash-wrapper .tip .content {
  font-size: 12px;
  letter-spacing: 0.1px;
}


.cube-loader {
  background: rgba(241,241,242,0.92);
  height: calc(var(--spacing-1) * 14);
  width: calc(var(--spacing-1) * 14);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

.cube-loader::before,
.cube-loader::after {
  display: block;
  background: #313744;
  transform: translate3d(0, 0, 0);
  z-index: 0;
  content: '';
}

body.mobile.expanded .cube-loader::before,
body.mobile.expanded .cube-loader::after {
  background: #1a1c24;
}

.cube-loader::before {
  width: 50%;
  height: 50%;
  margin-top: 0;
  margin-left: 0;
  animation: 1.5s tile1 cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.cube-loader::after {
  height: 50%;
  width: 0;
  margin-top: -50%;
  animation: 1.5s tile2 cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes tile1 {
  0% {
    margin-top: 0;
    margin-left: 0;
  }
  25% {
    margin-top: 50%;
    margin-left: 0;
  }
  50% {
    margin-top: 50%;
    margin-left: 50%;
  }
  75% {
    margin-top: 0;
    margin-left: 50%;
    width: 50%;
  }
  100% {
    margin-top: 0;
    margin-left: 100%;
    width: 0;
  }
}

@keyframes tile2 {
  75% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}


.push-svg {
  overflow: visible;
  width: 38px;
  height: 38px;
  pointer-events: none;
}
.push-svg #push, .push-svg #check {
  fill: transparent;
  transform-origin: 75% 75%;
  transition: .18s var(--ease-function), 0s opacity;
}
.push-svg #push {
  fill: rgba(241,241,242,0.63);
  fill: rgb(212 213 215 / 72%);
}

.push-svg #check {
  fill: transparent;
  transform: scale(1.075);
}

body.safari .push-svg #check {
  transform: scale(1);
}

.push-svg #circle {
  transform-origin: 20.95px 20.95px;
}

.push-wrapper.checked {
  pointer-events: none;
}

.push-wrapper.checked .push-svg #check {
  transform: scale(1);
  fill: rgb(23, 191, 99);
  transition: .18s var(--ease-function), 0s fill;
  animation: push-pre-bobble 0.2s,
             push-expand 0.27s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
             push-bobble 0.55s 0.3s var(--cubic-function) forwards;
}

body.safari .push-wrapper.checked .push-svg #check {
  animation: push-pre-bobble 0.2s,
             push-expand 0.27s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
             push-bobble 0.55s 0.3s var(--cubic-function) forwards;
}

.push-wrapper.checked .push-svg #push {
  fill: transparent;
  transform: scale(0);
}
.push-wrapper.checked .push-svg #circle {
  animation: push-circle .25s forwards ease-in-out;
}
.push-wrapper.checked .push-svg #grp1 {
  opacity: 1;
  transition: 0.1s 0.2s;
}
.push-wrapper.checked .push-svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp2 {
  opacity: 1;
  transition: 0.1s 0.2s;
}
.push-wrapper.checked .push-svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp3 {
  opacity: 1;
  transition: 0.1s 0.2s;
}
.push-wrapper.checked .push-svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp4 {
  opacity: 1;
  transition: 0.1s 0.2s;
}
.push-wrapper.checked .push-svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp5 {
  opacity: 1;
  transition: 0.2s all 0.2s;
}
.push-wrapper.checked .push-svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp6 {
  opacity: 1;
  transition: 0.2s 0.2s;
}
.push-wrapper.checked .push-svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp7 {
  opacity: 1;
  transition: 0.2s 0.2s;
}
.push-wrapper.checked .push-svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 50% 50%;
  transition: 0.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 50% 50%;
  transition: 1.2s transform 0.2s;
}
.push-wrapper.checked .push-svg #grp2 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}
.push-wrapper.checked .push-svg #grp3 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}
.push-wrapper.checked .push-svg #grp4 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}
.push-wrapper.checked .push-svg #grp5 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}
.push-wrapper.checked .push-svg #grp6 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}
.push-wrapper.checked .push-svg #grp7 {
  opacity: 1;
  transition: 0.2s opacity 0.2s;
}

@keyframes push-circle {
  from {
    transform: scale(0) translateY(-0.05px);
    stroke-width: 2px;
  }
  50% {
    transform: scale(4.8) translateY(-0.05px);
    stroke-width: 2.1px;
    transform-origin: 20.91px 20.9px;
  }
  to {
    transform: scale(15) translateY(-0.05px);
    stroke-width: 0;
    transform-origin: 20.821px 20.821px;
  }
}

@keyframes push-pre-bobble {
  from, to {
    transform: scale(0);
  }
}

@keyframes push-expand {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1.025);
  }
}

@keyframes push-bobble {
  from {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}


svg path {
  pointer-events: none;
}


body:not(.mobile) {
  --sidebar-width: 350px;
}

body:not(.mobile) .sidebar::-webkit-scrollbar {
  width: 10px;
}

body:not(.mobile) .sidebar::-webkit-scrollbar-corner,
body:not(.mobile) .sidebar::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

body:not(.mobile) .sidebar .header .logo::-webkit-scrollbar {
  height: 10px;
}

body:not(.mobile) .sidebar .header .logo::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

body:not(.mobile) .sidebar .header .logo::-webkit-scrollbar-thumb {
  background-color: rgb(130 134 137 / 50%);
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

body:not(.mobile) .sidebar .header .logo::-webkit-scrollbar-thumb:hover {
  background-color: rgb(130 134 137 / 65%);
}

body:not(.mobile) .sidebar .header .logo::-webkit-scrollbar-thumb:active {
  background-color: rgb(130 134 137 / 50%);
}

body:not(.mobile) .roundbutton {
  transition: .18s var(--ease-function), 0s background, 0s padding, 0s color;
}

body:not(.mobile) .roundbutton:hover {
  background: rgba(0,0,0,.1);
}

body:not(.mobile) .sidebar .item .push-wrapper:not(.checked):hover .push-svg {
  background: rgba(0,0,0,.1);
}

/*
body:not(.mobile) .sidebar .button:hover {
  background: hsl(228deg 16% 42%);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
*/

body:not(.mobile) .sidebar .button.secondary:hover {
  background: hsl(223deg 85% 54%);
  transition: none;
}

body:not(.mobile) .sidebar .button.teritary:hover {
  background: hsl(228deg 16% 37% / 12%);
  transition: none;
}


body.mobile {
  width: 100vw;
  overflow-x: hidden;
  --sidebar-width: 100vw;
}

body.mobile.expanded {
  background: #1a1c24;
}

body.mobile.expanded .cd-wrapper {
  width: 100%;
  height: 100%;
  transition-property: transform;
}

body.mobile cd-el {
  padding-bottom: calc(56px + 56px + 10.5px + env(safe-area-inset-bottom));
  scroll-padding-bottom: calc(56px + 56px + 10.5px + env(safe-area-inset-bottom));
  -webkit-overflow-scrolling: touch;
}

body.mobile .bottom-wrapper {
  display: flex;
}

body.mobile.expanded .bottom-wrapper {
  transform: translateX(var(--sidebar-width))
             translateY(calc(100% + env(safe-area-inset-bottom, 0px)));
}

body.mobile .bookmark {
  display: none;
}

body.mobile.expanded .bookmark {
  transform: translateX(0);
}

body.mobile .sidebar {
  -webkit-overflow-scrolling: touch;
}

body.mobile .sidebar-background {
  display: block;
}

body.mobile.expanded .sidebar-background {
  opacity: 1;
  pointer-events: auto;
}


body {

  --rosemary-blue: hsl(223deg 88% 52%);
  --rosemary-light: hsl(223deg 85% 54%);
  --rosemary-lighter: hsl(223deg 86% 64%);
  --rosemary-lightness-deluxe: hsl(223deg 86% 73%);

  --sea-blue-hint: #313744;

  --deep-midnight-blue: hsl(228deg 14% 7%);
  --midnight-blue: #1a1c24;
  --midnight-light: hsl(227deg 11% 16%);
  --midnight-lighter: hsl(226deg 7% 19%);


  --button-main: var(--rosemary-blue);
  --button-hover: var(--rosemary-light);

  --editor-background: var(--sea-blue-hint);

  --sidebar-background: var(--rosemary-blue);
  --sidebar-hover: var(--midnight-light);
  --sidebar-active: var(--midnight-lighter);


  --spacing-1: 7px;
  --spacing-2: calc(var(--spacing-1) * 2);
  --spacing-3: calc(var(--spacing-1) * 3);
  --spacing-4: calc(var(--spacing-1) * 4);
  --spacing-5: calc(var(--spacing-1) * 5);
  --spacing-6: calc(var(--spacing-1) * 6);
  --spacing-7: calc(var(--spacing-1) * 7);


  --ease-function: cubic-bezier(0.32, 0.08, 0.24, 1);
  --cubic-function: cubic-bezier(0.4, 0, 0.25, 1);
  --bounce-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);


  tab-size: 2;
}

html, body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  touch-action: manipulation;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

@media print {

  * {
    color: black !important;
  }

  html, body {
    overflow: auto !important;
    background: white !important;
  }

  .cd-wrapper {
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
    overflow: visible !important;
  }

  body cd-el {
    overflow: visible !important;
    background: white !important;
  }

  .line-numbers .line-numbers-rows {
    opacity: .7 !important;
  }

  .bookmark {
    display: none !important;
  }

  .sidebar {
    display: none !important;
  }

}
