@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-size: inherit;
  background: #85144b;
  padding: 50px;
  color: #F0F0F0;
  margin: 0 auto;
  width: 52em;
  font-family: "Inter", sans-serif;
}

.header {
  font-size: 39px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  margin-top: 1em;
}

h2 {
  font-weight: 400;
  font-size: 22px;
  margin-top: 1em;
}

.demo {
  padding: 11px;
  font-size: 13px;
}
