/* 
 * Markdown highlighting
 * Colors based on GitHub Dark
 */

body {
  font-family: 'Inter', system-ui, sans-serif;
  padding: 32px;
  max-width: 1012px;
  margin: auto;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

body > *:first-child {
  margin-top: 0 !important;
}

body > *:last-child {
  margin-bottom: 0 !important;
}

body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid var(--color-border-muted);
}

body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid var(--color-border-muted);
}

:root {--color-border-muted:
  hsla(210,18%,87%,1);
--color-neutral-muted:
  rgba(175,184,193,0.2);
--color-canvas-subtle: #f6f8fa;
--color-border-default: #d0d7de;
--color-canvas-default: #ffffff;
--color-fg-muted: #57606a;
}

body a {
  color: #0969da;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

body * {
  box-sizing: border-box;
}

body p, body blockquote, body ul, body ol, body dl, body table, body pre, body details {
  margin-top: 0;
  margin-bottom: 16px;
}

body ul, body ol {
  padding-left: 2em;
}

body li + li {
  margin-top: 0.25em;
}

body code, body tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
  font-family: 'Mono Sans', 'Roboto Mono', consolas, lucida console, courier new, monospace;
}

body pre code {
  padding: unset;
  margin: unset;
  font-size: unset;
  background-color: unset;
  border-radius: unset;
}

body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--color-canvas-subtle);
  border-radius: 6px;
  margin-bottom: 0;
  word-break: normal;
  word-wrap: normal;
  margin-bottom: 16px;
}

body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--color-border-default);
  border: 0;
}

body table th {
  font-weight: 600;
}

body table th, body table td {
  padding: 6px 13px;
  border: 1px solid var(--color-border-default);
}

body table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  font-size: inherit;
  line-height: inherit;
  white-space: inherit;
  color: inherit;
}

body table tr {
  background-color: var(--color-canvas-default);
  border-top: 1px solid var(--color-border-muted);
}

body table tr:nth-child(2n) {
  background-color: var(--color-canvas-subtle);
}

body blockquote {
  padding: 0 1em;
  color: var(--color-fg-muted);
  border-left: 0.25em solid var(--color-border-default);
}


html, body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  touch-action: manipulation;
  overscroll-behavior: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

