@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Monaco';
  src: url('Monaco.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
